<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Manage Settings</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>

    <div id="wrapper">
        <!-- Header -->
        @Html.Partial("SoftwareHeader")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="">
                            <i class="fa fa-user fa-fw"></i>  Manage <small>Manage account settings</small>
                        </h3>
                        <ol class="breadcrumb">
                            <li class="active">
                                Manage
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- manage -->
                @Html.Partial("ManageIndex")
            </div>
        </div>
    </div>

    <!-- user Personal Information Modal -->
    <div class="modal fade" id="userEditDetailModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Personal Information Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Full Name</label><br />
                        <input type="text" class="form-control requiredUser" id="editFullName" placeholder="First Name" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btnUpdateCurrentUserLoggedIn" onclick="updateCurrentUserLoggedIn()"><i class="fa fa-save fa-fw"></i> Update</button>
                    <button class="btn btn-danger" id="btnCloseCurrentUserLoggedIn" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Custom Scripts -->
    <script type="text/javascript">
        // get the current logged in user
        function getCurrentLoggedInUser() {
            $.ajax({
                url: "/api/user/get/currentLoggedInUser",
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (currentUserResults) {
                    // Read info
                    document.getElementById("userUsername").value = currentUserResults.Username;
                    document.getElementById("userFullName").value = currentUserResults.FullName;
                    document.getElementById('stampCreatedDate').innerHTML = currentUserResults.CreatedDate;
                    document.getElementById('stampUpdatedDate').innerHTML = currentUserResults.UpdatedDate;

                    // Edit Info
                    document.getElementById("editFullName").value = currentUserResults.FullName;

                    NProgress.done();
                }
            });
        }

        // modal edit personal information
        function editPerosnalInformation() {
            $("#userEditDetailModal").modal({
                "show": true,
                "backdrop": "static"
            })
        }

        // update profile user
        function updateCurrentUserLoggedIn() {
            document.getElementById("btnUpdateCurrentUserLoggedIn").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Updating";
            $("#btnUpdateCurrentUserLoggedIn").prop("disabled", true);
            $("#btnCloseCurrentUserLoggedIn").prop("disabled", true);

            var personalInformationObject = new Object();
            personalInformationObject.FullName = document.getElementById("editFullName").value;
            var personalInformationData = JSON.stringify(personalInformationObject);

            var isValid = true;
            $('.requiredUser').each(function () {
                if ($.trim($(this).val()) == "") {
                    isValid = false;
                    $(this).css({
                        "border": "0.5px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            if (isValid) {
                $.ajax({
                    type: "PUT",
                    url: '/api/user/update/currentLoggedInUser',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: personalInformationData,
                    statusCode: {
                        200: function () {
                            location.reload()
                        },
                        404: function () {
                            document.getElementById("btnUpdateCurrentUserLoggedIn").innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                            $("#btnUpdateCurrentUserLoggedIn").prop("disabled", false);
                            $("#btnCloseCurrentUserLoggedIn").prop("disabled", false);
                        },
                        400: function () {
                            document.getElementById("btnUpdateCurrentUserLoggedIn").innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                            $("#btnUpdateCurrentUserLoggedIn").prop("disabled", false);
                            $("#btnCloseCurrentUserLoggedIn").prop("disabled", false);
                        }
                    }
                });
            }
        }

        // ready function
        window.onload = function () {
            NProgress.start();
            getCurrentLoggedInUser();
        }
    </script>
</body>
</html>
