<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>DLH - Manage Settings</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <!-- Login -->
    @Html.Partial("ManageIndex")

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- user Avatar Modal -->
    <div class="modal fade" id="userAvatarModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change your Avatar</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="" onclick=""><i class="fa fa-check fa-fw"></i> Ok</button>
                    <button class="btn btn-danger" id="" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- user Personal Information Modal -->
    <div class="modal fade" id="userEditDetailModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Personal Information Detail</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>First Name</dt>
                        <dd><input type="text" class="form-control requiredUser" id="editFirstName" placeholder="First Name" /></dd>
                        <dt>Middle Name</dt>
                        <dd><input type="text" class="form-control" id="editMiddleName" placeholder="Middle Name" /></dd>
                        <dt>Last Name</dt>
                        <dd><input type="text" class="form-control requiredUser" id="editLastName" placeholder="Last Name" /></dd>
                    </dl>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>BirthDate</dt>
                        <dd><input type="date" class="form-control" /></dd>
                        <dt>Job Title</dt>
                        <dd><input type="text" class="form-control" id="editJobTitle" placeholder="Job Title" /></dd>
                    </dl>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>About me</dt>
                        <dd><textarea class="form-control" id="editAboutMe" placeholder="About me"></textarea></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="" onclick="updateCurrentUserLoggedIn()"><i class="fa fa-check fa-fw"></i> Update</button>
                    <button class="btn btn-danger" id="" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- user Contact Information Modal -->
    <div class="modal fade" id="userContactInformationModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Contact Information</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>Street</dt>
                        <dd><input type="text" class="form-control" id="editContactStreet" placeholder="Street" /></dd>
                        <dt>City</dt>
                        <dd><input type="text" class="form-control" id="editContactCity" placeholder="City" /></dd>
                        <dt>Zip / Country</dt>
                        <dd>
                            <div class="input-group">
                                <input type="text" class="form-control" id="editContactZip" placeholder="Zip Code" style="width: 30%" />
                                <input type="text" class="form-control" id="editContactCountry" placeholder="Country" style="width: 70%" />
                            </div>
                        </dd>
                    </dl>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>Contact No.</dt>
                        <dd><input type="text" class="form-control" id="editContactNumber" placeholder="Contact Number" /></dd>
                        <dt>Email</dt>
                        <dd><input type="text" class="form-control" id="editContactEmail" placeholder="Email Address" /></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="" onclick="updateCurrentUserLoggedIn()"><i class="fa fa-check fa-fw"></i> Update</button>
                    <button class="btn btn-danger" id="" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Custom Scripts -->
    <script type="text/javascript">
        // get the current logged in user
        function getCurrentLoggedInUser() {
            $.ajax({
                url: "/api/user/get/currentLoggedInUser",
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (currentUserResults) {
                    // Read info
                    document.getElementById("userFullName").innerHTML = currentUserResults.FirstName + " " + currentUserResults.MiddleName + " " + currentUserResults.LastName;

                    if (currentUserResults.BirthDate != null) {
                        var birthDate = new Date(currentUserResults.BirthDate);
                        var birthDateValue = birthDate.getMonth() + 1;
                        var month = "";

                        if (birthDateValue == 1) {
                            month = "January"
                        } else if (birthDateValue == 2) {
                            month = "February"
                        } else if (birthDateValue == 3) {
                            month = "March"
                        } else if (birthDateValue == 4) {
                            month = "April"
                        } else if (birthDateValue == 5) {
                            month = "May"
                        } else if (birthDateValue == 6) {
                            month = "June"
                        } else if (birthDateValue == 7) {
                            month = "July"
                        } else if (birthDateValue == 8) {
                            month = "August"
                        } else if (birthDateValue == 9) {
                            month = "September"
                        } else if (birthDateValue == 10) {
                            month = "October"
                        } else if (birthDateValue == 11) {
                            month = "November"
                        } else if (birthDateValue == 12) {
                            month = "December"
                        } else {
                            month = "";
                        }

                        document.getElementById("userBirthDate").innerHTML = month + " " + birthDate.getDate() + ", " + birthDate.getFullYear();
                    } else {
                        document.getElementById("userBirthDate").innerHTML = "N/A";
                    }
                   
                    document.getElementById("userJobTitle").innerHTML = currentUserResults.JobTitle;
                    document.getElementById("userAboutMe").innerHTML = currentUserResults.AboutMe;
                    document.getElementById("userUsername").innerHTML = currentUserResults.Username;
                    document.getElementById("userAddressStreet").innerHTML = currentUserResults.AddressStreet;
                    document.getElementById("userAddressCity").innerHTML = currentUserResults.AddressCity;
                    document.getElementById("userAddressZipCode").innerHTML = currentUserResults.AddressZip;
                    document.getElementById("userAddressCountry").innerHTML = currentUserResults.AddressCountry;
                    document.getElementById("userContactNumber").innerHTML = currentUserResults.ContactNumber;
                    document.getElementById("userEmail").innerHTML = currentUserResults.EmailAddress;

                    // Edit Info
                    document.getElementById("editFirstName").value = currentUserResults.FirstName;
                    document.getElementById("editMiddleName").value = currentUserResults.MiddleName;
                    document.getElementById("editLastName").value = currentUserResults.LastName;
                    document.getElementById("editJobTitle").value = currentUserResults.JobTitle;
                    document.getElementById("editAboutMe").value = currentUserResults.AboutMe;
                    document.getElementById("editContactStreet").value = currentUserResults.AddressStreet;
                    document.getElementById("editContactCity").value = currentUserResults.AddressCity;
                    document.getElementById("editContactZip").value = currentUserResults.AddressZip;
                    document.getElementById("editContactCountry").value = currentUserResults.AddressCountry;
                    document.getElementById("editContactNumber").value = currentUserResults.ContactNumber;
                    document.getElementById("editContactEmail").value = currentUserResults.EmailAddress;

                    NProgress.done();
                }
            });
        }

        // modal change avatar
        function changeAvatar() {
            $("#userAvatarModal").modal({
                "show": true,
                "backdrop": "static"
            })
        }

        // modal edit personal information
        function editPerosnalInformation() {
            $("#userEditDetailModal").modal({
                "show": true,
                "backdrop": "static"
            })
        }

        // modal edit contact
        function editContact() {
            $("#userContactInformationModal").modal({
                "show": true,
                "backdrop": "static"
            })
        }

        // update profile user
        function updateCurrentUserLoggedIn() {
            var personalInformationObject = new Object();
            personalInformationObject.FirstName = document.getElementById("editFirstName").value;
            personalInformationObject.MiddleName = document.getElementById("editMiddleName").value;
            personalInformationObject.LastName = document.getElementById("editLastName").value;
            //personalInformationObject.BirthDate = "NULL";
            personalInformationObject.JobTitle = document.getElementById("editJobTitle").value;
            personalInformationObject.AboutMe = document.getElementById("editAboutMe").value;
            personalInformationObject.AddressStreet = document.getElementById("editContactStreet").value;
            personalInformationObject.AddressCity = document.getElementById("editContactCity").value;
            personalInformationObject.AddressZip = document.getElementById("editContactZip").value;
            personalInformationObject.AddressCountry = document.getElementById("editContactCountry").value;
            personalInformationObject.ContactNumber = document.getElementById("editContactNumber").value;
            personalInformationObject.EmailAddress = document.getElementById("editContactEmail").value;
            var personalInformationData = JSON.stringify(personalInformationObject);

            var isValid = true;
            $('.requiredUser').each(function () {
                if ($.trim($(this).val()) == "") {
                    isValid = false;
                    $(this).css({
                        "border": "0.5px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            if (isValid) {
                $.ajax({
                    type: "PUT",
                    url: '/api/user/update/currentLoggedInUser',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: personalInformationData,
                    statusCode: {
                        200: function () {
                            location.reload()
                        },
                        404: function () {

                        },
                        400: function () {

                        }
                    }
                });
            }
        }

        // ready function
        window.onload = function () {
            NProgress.start();
            getCurrentLoggedInUser();
        }
    </script>
</body>
</html>
