<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Area Detail</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="/Software" class="btn btn-info">
                        Dashboard
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Set Ups <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/ApplicantList"><i class="fa fa-users fa-fw"></i> Applicants</a></li>
                        <li><a href="/Software/AreaList"><i class="fa fa-map-pin fa-fw"></i> Area</a></li>
                        <li><a href="/Software/StaffList"><i class="fa fa-user fa-fw"></i> Staff</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Activities <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanApplicationList"><i class="fa fa-file-text-o fa-fw"></i> Loan Application</a></li>
                        <li><a href="/Software/CollectionList"><i class="fa fa-money fa-fw"></i> Collection</a></li>
                        <li><a href="/Software/ExpensesList"><i class="fa fa-credit-card fa-fw"></i> Expenses</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Reports <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanReport"><i class="fa fa-print fa-fw"></i> Loan Report</a></li>
                        <li><a href="/Software/CollectionReport"><i class="fa fa-print fa-fw"></i> Collection Report</a></li>
                        <li><a href="/Software/ExpensesReport"><i class="fa fa-print fa-fw"></i> Expenses Report</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        System <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/UserList"><i class="fa fa-key fa-fw"></i> Users</a></li>
                        <li><a href="/Software/AreaList"><i class="fa fa-building fa-fw"></i> Area</a></li>
                        <li><a href="/Software/SystemTables"><i class="fa fa-table fa-fw"></i> System Tables</a></li>
                    </ul>
                </div>
            </div>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <h4>Area Detail</h4>
                            </td>
                            <td align="right">
                                <button class="btn btn-primary" id="btnLockArea" onclick="btnLockAreaOnclick()">
                                    <i class="fa fa-lock fa-fw"></i> Lock
                                </button>
                                <button class="btn btn-primary" id="btnUnlockArea" onclick="btnUnlockAreaOnclick()">
                                    <i class="fa fa-unlock fa-fw"></i> Unlock
                                </button>
                                <button class="btn btn-danger" id="btnCloseArea" onclick="window.location = '/Software/AreaList'">
                                    <i class="fa fa-close fa-fw"></i> Close
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Area Number</label><br />
                                        <input type="text" class="form-control requiredArea" id="areaNumber" placeholder="Area Number" disabled/>
                                    </div>
                                    <div class="form-group">
                                        <label>Area</label><br />
                                        <input type="text" class="form-control requiredArea" id="areaName" placeholder="Area" />
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label><br />
                                        <textarea class="form-control requiredArea" rows="5" id="areaDescription" placeholder="Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Supervisor</label><br />
                                        <div id="cboAreaSuperVisor"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Collector</label><br />
                                        <div id="cboAreaCollector"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Created by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                                    </div>
                                    <br />
                                    <p>Updated by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var branchCollectionView;
        var branchFlexGrid;
        var branchId = 0;
        var isLocked = false;
        var cboAreaSuperVisor;
        var cboAreaCollector;

        // get area data
        function getAreaDetailData() {
            $.ajax({
                url: '/api/area/getById/' + getUrlParameter("id"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (areaDetailResult) {
                    if (areaDetailResult != null) {
                        document.getElementById("areaNumber").value = areaDetailResult.AreaNumber;
                        document.getElementById("areaName").value = areaDetailResult.Area;
                        document.getElementById("areaDescription").value = areaDetailResult.Description;
                        cboAreaSuperVisor.selectedValue = areaDetailResult.SupervisorStaff;
                        cboAreaCollector.selectedValue = areaDetailResult.CollectorStaff;

                        document.getElementById('stampCreatedBy').innerHTML = areaDetailResult.CreatedByUser;
                        document.getElementById('stampCreatedDate').innerHTML = areaDetailResult.CreatedDateTime;
                        document.getElementById('stampUpdatedBy').innerHTML = areaDetailResult.UpdatedByUser;
                        document.getElementById('stampUpdatedDate').innerHTML = areaDetailResult.UpdatedDateTime;

                        if (areaDetailResult.IsLocked) {
                            document.getElementById("areaName").disabled = true;
                            document.getElementById("areaDescription").disabled = true;
                            cboAreaSuperVisor.disabled = true;
                            cboAreaCollector.disabled = true;

                            $("#btnLockArea").prop("disabled", true);
                            $("#btnAddBranch").prop("disabled", true);

                            isLocked = true;
                        } else {
                            $("#btnUnlockArea").prop("disabled", true);
                        }
                    } else {
                        alert("The record you'd requested has no data");
                        window.history.back();
                    }
                    NProgress.done();
                }
            });
        }

        // get staff
        function getSupervisorStaff() {
            var staffSupervisorArray = new Array();
            $.ajax({
                url: '/api/staff/list/byStaffRoleId/1',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (staffSupervisorResults) {
                    var disabled = true;
                    if (staffSupervisorResults.length > 0) {
                        for (i = 0; i < staffSupervisorResults.length; i++) {
                            staffSupervisorArray.push({
                                Id: staffSupervisorResults[i]["Id"],
                                Staff: staffSupervisorResults[i]["Staff"],
                            });
                        }
                        disabled = false;

                        cboAreaCollector = new wijmo.input.ComboBox('#cboAreaCollector');
                        getCollectorStaff();
                    } else {
                        cboAreaCollector = new wijmo.input.ComboBox('#cboAreaCollector');
                        getCollectorStaff();
                    }

                    cboAreaSuperVisor.dispose();
                    cboAreaSuperVisor = new wijmo.input.ComboBox('#cboAreaSuperVisor', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: staffSupervisorArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "Staff",
                        selectedValuePath: "Staff"
                    });
                }
            });
        }

        // get collector
        function getCollectorStaff() {
            var staffCollectorArray = new Array();
            $.ajax({
                url: '/api/staff/list/byStaffRoleId/2',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (staffCollectorResults) {
                    var disabled = true;
                    if (staffCollectorResults.length > 0) {
                        for (i = 0; i < staffCollectorResults.length; i++) {
                            staffCollectorArray.push({
                                Id: staffCollectorResults[i]["Id"],
                                Staff: staffCollectorResults[i]["Staff"],
                            });
                        }

                        disabled = false;
                    }

                    cboAreaCollector.dispose();
                    cboAreaCollector = new wijmo.input.ComboBox('#cboAreaCollector', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: staffCollectorArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "Staff",
                        selectedValuePath: "Staff"
                    });

                    getAreaDetailData();
                }
            });
        }

        // form input validation
        function inputValidation() {
            var isValid = true;
            $('.requiredArea').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            return isValid;
        }

        // lock area detail
        function btnLockAreaOnclick() {
            if (inputValidation()) {
                document.getElementById("btnLockArea").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Locking";
                $("#btnLockArea").prop("disabled", true);
                $("#btnUnlockArea").prop("disabled", true);
                $("#btnCloseArea").prop("disabled", true);
                $("#btnAddBranch").prop("disabled", true);

                var areaDetailObject = new Object();
                areaDetailObject.Area = document.getElementById('areaName').value;
                areaDetailObject.Description = document.getElementById('areaDescription').value;
                areaDetailObject.SupervisorStaffId = cboAreaSuperVisor.selectedItem["Id"];
                areaDetailObject.CollectorStaffId = cboAreaCollector.selectedItem["Id"];
                var areaDetailData = JSON.stringify(areaDetailObject);

                $.ajax({
                    type: "PUT",
                    url: '/api/area/lock/' + getUrlParameter("id"),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: areaDetailData,
                    statusCode: {
                        200: function () {
                            toastr.success("Reloading the page", "Lock Successful");
                            window.setTimeout(function () {
                                location.reload();
                            }, 1500);
                        },
                        404: function () {
                            document.getElementById("btnLockArea").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";

                            toastr.error("Not Found");

                            $("#btnLockArea").prop("disabled", false);
                            $("#btnCloseArea").prop("disabled", false);
                        },
                        400: function () {
                            document.getElementById("btnLockArea").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";

                            toastr.error("Bad Request");

                            $("#btnLockArea").prop("disabled", false);
                            $("#btnCloseArea").prop("disabled", false);
                        }
                    }
                });
            } else {
                toastr.error("Invalid Entry");
            }
        }

        // save changes area detail
        function btnUnlockAreaOnclick() {
            document.getElementById("btnUnlockArea").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Unlocking";
            $("#btnUnlockArea").prop("disabled", true);
            $("#btnLockArea").prop("disabled", true);
            $("#btnCloseArea").prop("disabled", true);
            $("#btnAddBranch").prop("disabled", true);

            $.ajax({
                type: "PUT",
                url: '/api/area/unlock/' + getUrlParameter("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Reloading the page", "Unlock Successful");
                        window.setTimeout(function () {
                            location.reload();
                        }, 1500);
                    },
                    404: function () {
                        document.getElementById("btnUnlockArea").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Unlock";

                        toastr.error("Not Found");

                        $("#btnUnlockArea").prop("disabled", true);
                        $("#btnCloseArea").prop("disabled", true);
                    },
                    400: function () {
                        document.getElementById("btnUnlockArea").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Unlock";

                        toastr.error("Bad Request");

                        $("#btnUnlockArea").prop("disabled", true);
                        $("#btnCloseArea").prop("disabled", true);
                    }
                }
            });
        }

        // on load page
        window.onload = function () {
            NProgress.start();
            toastrModification();
            cboAreaSuperVisor = new wijmo.input.ComboBox('#cboAreaSuperVisor');
            getSupervisorStaff();
        }
    </script>
</body>
</html>