<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>DLH - Collection Detail</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="list-group">
                        <a href="/Software" class="list-group-item">
                            <i class="fa fa-dashboard fa-fw"></i> &nbsp; Dashboard
                        </a>
                        <a href="/Software/ApplicantList" class="list-group-item">
                            <i class="fa fa-users fa-fw"></i> &nbsp; Applicant
                        </a>
                        <a href="/Software/LoanApplicationList" class="list-group-item">
                            <i class="fa fa-file-text-o fa-fw"></i> &nbsp; Loan
                        </a>
                        <a href="/Software/CollectionList" class="list-group-item active">
                            <i class="fa fa-money fa-fw"></i> &nbsp; Collection
                        </a>
                        <a href="#" class="list-group-item"><i class="fa fa-credit-card fa-fw"></i> &nbsp; Disbursement</a>
                        <a href="/Software/Tables" class="list-group-item">
                            <i class="fa fa-table fa-fw"></i> &nbsp; Tables
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-print fa-fw"></i> &nbsp; Reports
                        </a>
                        <a href="/Software/CompanyList" class="list-group-item">
                            <i class="fa fa-building fa-fw"></i> &nbsp; Company
                        </a>
                        <a href="#" class="list-group-item"><i class="fa fa-key fa-fw"></i> &nbsp; Users</a>
                        <a href="#" class="list-group-item"><i class="fa fa-gears fa-fw"></i> &nbsp; Settings</a>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            User security stamp
                        </div>
                        <div class="panel-body">
                            <p>Created by:</p>
                            <div style="padding-left: 10px;">
                                <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                <br />
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                            </div>
                            <hr />
                            <p>Updated by:</p>
                            <div style="padding-left: 10px;">
                                <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                <br />
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <h4>Collection Detail</h4>
                                    </td>
                                    <td align="right">
                                        <button class="btn btn-primary" id="btnLock" onclick="btnLockOnClick()">
                                            <i class="fa fa-lock fa-fw"></i> Lock
                                        </button>
                                        <button class="btn btn-primary" id="btnUnlock" onclick="btnUnlockOnClick()">
                                            <i class="fa fa-unlock fa-fw"></i> Unlock
                                        </button>
                                        <button class="btn btn-primary" id="btnPrint" onclick="btnPrintOnClick()">
                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                        </button>
                                        <button class="btn btn-danger" id="btnClose" onclick="window.location = '/Software/LoanApplicationList'">
                                            <i class="fa fa-close fa-fw"></i> Close
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                   Collection Header Form
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>Collection Number</dt>
                                        <dd><input type="text" class="form-control requiredLoanApplication" id="loanApplicationNumber" placeholder="Loan Number" /></dd>
                                        <dt>Collection Date</dt>
                                        <dd><div id="loanApplicationLoanDate"></div> &nbsp; <span id="loanApplicationLoanDateString"></span></dd>
                                        <dt>Branch</dt>
                                        <dd><div id="loanApplicationBranch"></div></dd>
                                        <dt>Account</dt>
                                        <dd><div id="loanApplicationAccount"></div></dd>
                                        <dt>Applicant</dt>
                                        <dd><div id="loanApplicationApplicant"></div><span style="color: red" id="noApplicant"></span></dd>
                                        <dt>Particulars</dt>
                                        <dd><textarea class="form-control requiredLoanApplication" id="loanApplicationPromise" placeholder="Promise"></textarea></dd>
                                        <dt>Collector</dt>
                                        <dd><div id="loanApplicationCollector"></div></dd>
                                        <dt>Prepared by</dt>
                                        <dd><div id="loanApplicationPreparedBy"></div></dd>
                                        <dt>Verified by</dt>
                                        <dd><div id="loanApplicationVerifiedBy"></div></dd>
                                    </dl>
                                </div> <!-- last code part ... to be continue -->
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <table style="width: 100%">
                                        <tr>
                                            <td>
                                                Collection Lines (Collect/Paid Amount)
                                            </td>
                                            <td align="right">
                                                <button class="btn btn-primary btn-sm" id="btnAddLoanApplicationLines" onclick="btnAddLoanApplicationLinesOnclick()">
                                                    <i class="fa fa-plus fa-fw"></i> Add
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel-body">
                                    <div id="loanApplicationLinesFlexGrid" class="grid"></div>
                                </div>
                                <div class="panel-footer">
                                    <table style="width: 100%" border="0">
                                        <tr>
                                            <td width="40%">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Total Amount</span>
                                                    <span class="input-group-addon">&#8369;</span>
                                                    <input type="text" id="totalLoanAmount" class="form-control numberField" placeholder="0.00">
                                                </div>
                                            </td>
                                            <td width="60%"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" align="right">
                            <button class="btn btn-primary" id="btnLockButtom" onclick="btnLockOnClick()">
                                <i class="fa fa-lock fa-fw"></i> Lock
                            </button>
                            <button class="btn btn-primary" id="btnUnlockButtom" onclick="btnUnlockOnClick()">
                                <i class="fa fa-unlock fa-fw"></i> Unlock
                            </button>
                            <button class="btn btn-primary" id="btnPrintButtom" onclick="btnPrintOnClick()">
                                <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                            </button>
                            <button class="btn btn-danger" id="btnCloseButtom" onclick="window.location = '/Software/LoanApplicationList'">
                                <i class="fa fa-close fa-fw"></i> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- locan application lines Detail Modal -->
    <div class="modal fade" id="loanApplicationLineEditDetailModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Loan Application Line Detail</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>Particulars</dt>
                        <dd>
                            <textarea class="form-control requiredLoanApplicationLines" id="loanApplicationLinesParticulars" placeholder="Particulars"></textarea>
                        </dd>
                        <dt>Amount</dt>
                        <dd>
                            <div class="input-group numberField">
                                <span class="input-group-addon">&#8369;</span>
                                <input type="text" id="loanApplicationLinesAmount" class="form-control numberField requiredLoanApplicationLines" placeholder="0.00">
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btnSaveLoanApplicationLine" onclick="saveLoanApplicationLineOnclick()"><i class="fa fa-save fa-fw"></i> Save</button>
                    <button class="btn btn-danger" id="btnCloseLoanApplicationLine" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete confirmation Loan Application Line modal -->
    <div class="modal fade" id="deleteConfirmationLoanApplicationLineModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Loan Amount</h4>
                </div>
                <div class="modal-body">
                    Are you sure that you want to delete this Loan Application Line (Loan Amount)?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="btnConfirmDeleteLoanApplicationLine" onclick="btnConfirmDeleteLoanApplicationLineOnclick()">Yes</button>
                    <button class="btn btn-default" id="btnCloseDeleteLoanApplicationLineModal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>