<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Collection Detail</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="/Software" class="btn btn-info">
                        Dashboard
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Set Ups <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/ApplicantList"><i class="fa fa-users fa-fw"></i> Applicants</a></li>
                        <li><a href="/Software/Tables"><i class="fa fa-table fa-fw"></i> Tables</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Activities <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanApplicationList"><i class="fa fa-file-text-o fa-fw"></i> Loan Application</a></li>
                        <li><a href="/Software/CollectionList"><i class="fa fa-money fa-fw"></i> Collection</a></li>
                        <li><a href="/Software/DisbursementList"><i class="fa fa-credit-card fa-fw"></i> Disbursement</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        System <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/CompanyList"><i class="fa fa-building fa-fw"></i> Company</a></li>
                        <li><a href="/Software/UserList"><i class="fa fa-key fa-fw"></i> Users</a></li>
                        <li class="divider"></li>
                        <li><a href="/Manage/Index"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Reports <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/Reports"><i class="fa fa-print fa-fw"></i> Generate Reports</a></li>
                    </ul>
                </div>
            </div>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <h4><i class="fa fa-money fa-fw"></i> Collection Detail</h4>
                            </td>
                            <td align="right">
                                <button class="btn btn-primary" id="btnPrint" onclick="">
                                    <i class="fa fa-lock fa-fw"></i> Lock
                                </button>
                                <button class="btn btn-primary" id="btnPrint" onclick="">
                                    <i class="fa fa-unlock fa-fw"></i> Unlock
                                </button>
                                <button class="btn btn-primary" id="btnPrint" onclick="">
                                    <i class="fa fa-file-pdf-o fa-fw"></i> Print
                                </button>
                                <button class="btn btn-danger" id="btnClose" onclick="window.location = '/Software/CollectionList'">
                                    <i class="fa fa-close fa-fw"></i> Close
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i> Applicant</span>
                                <input type="text" class="form-control input-sm" id="applicantName" disabled/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> Loan Number</span>
                                <div id="cboLoanNumberLogHistory" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <button class="btn btn-primary btn-sm" id="">Partial Payment</button>
                    <button class="btn btn-primary btn-sm" id="">Advance Payment</button>
                    <button class="btn btn-primary btn-sm" id="">Full Payment</button>
                    <button class="btn btn-primary btn-sm" id="">Extend Collection</button>
                    <button class="btn btn-primary btn-sm" id="">Overdue</button>
                    <button class="btn btn-primary btn-sm" id=""><i class="fa fa-question-circle-o fa-fw"></i></button>
                </div>
                <div class="panel-body">
                    <div class="flexgridHeight">
                        <div id="collectionFlexGrid" class=""></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="btn-group col-md-7" id="navigationPageGridCollection">
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGridCollection">
                                <span class="glyphicon glyphicon-fast-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGridCollection">
                                <span class="glyphicon glyphicon-step-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGridCollection"></button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGridCollection">
                                <span class="glyphicon glyphicon-step-forward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGridCollection">
                                <span class="glyphicon glyphicon-fast-forward"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- due date options -->
    <div class="modal fade" id="deudatemodal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Collection Due Date</h4>
                </div>
                <div class="modal-body">
                    <button class="btn btn-primary btn-block" onclick=""> Extend Payment</button>
                    <button class="btn btn-primary btn-block" onclick=""> Overdue</button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // Global Variables
        var collectionCollectionView;
        var collectionFlexGrid;
        var btnFirstPageGridCollection;
        var btnPreviousPageGridCollection;
        var btnNextPageGridCollection;
        var btnLastPageGridCollection;
        var btnCurrentPageGridCollection;
        var urlParameterLoanId = getUrlParameter("loanId");

        // loan application for selected value
        function getLoanApplicationForSelectedValue() {
            var loanApplicationDetailSelectedValue = "";
            $.ajax({
                url: '/api/loanApplication/getById/' + getUrlParameter("loanId"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (loanApplicationResult) {
                    if (loanApplicationResult != null) {

                        var currentLabel = "";
                        if (loanApplicationResult.Id == getUrlParameter("loanId")) {
                            currentLabel = "(Current)";
                        }

                        loanApplicationDetailSelectedValue = loanApplicationResult.LoanNumber + " - from: " + loanApplicationResult.LoanDate + " to " + loanApplicationResult.MaturityDate + " " + currentLabel
                    }

                    cboLoanNumberLogHistory = new wijmo.input.ComboBox('#cboLoanNumberLogHistory');
                    createCboForLoanNumberInLogHistory(loanApplicationDetailSelectedValue);
                }
            });
        }

        // cbo loan number
        function createCboForLoanNumberInLogHistory(loanApplicationSelectedValue) {
            var loanNumberArray = new Array();
            $.ajax({
                url: '/api/loanApplication/listByApplicantId/' + getUrlParameter("applicantId"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (loanNumberResults) {
                    var disabled = true;
                    if (loanNumberResults.length > 0) {
                        for (i = 0; i < loanNumberResults.length; i++) {

                            var currentLabel = "";
                            if (loanNumberResults[i]["Id"] == urlParameterLoanId) {
                                currentLabel = "(Current)";
                            }

                            loanNumberArray.push({
                                Id: loanNumberResults[i]["Id"],
                                LoanNumber: loanNumberResults[i]["LoanNumber"],
                                LoanDate: loanNumberResults[i]["LoanDate"],
                                MaturityDate: loanNumberResults[i]["MaturityDate"],
                                Applicant: loanNumberResults[i]["Applicant"],
                                NetAmount: loanNumberResults[i]["NetAmount"],
                                PrincipalAmount: loanNumberResults[i]["PrincipalAmount"],
                                ProcessingFeeAmount: loanNumberResults[i]["ProcessingFeeAmount"],
                                PassbookAmount: loanNumberResults[i]["PassbookAmount"],
                                BalanceAmount: loanNumberResults[i]["BalanceAmount"],
                                PenaltyAmount: loanNumberResults[i]["PenaltyAmount"],
                                LateIntAmount: loanNumberResults[i]["LateIntAmount"],
                                AdvanceAmount: loanNumberResults[i]["AdvanceAmount"],
                                RequirementsAmount: loanNumberResults[i]["RequirementsAmount"],
                                InsuranceIPIorPPIAmount: loanNumberResults[i]["InsuranceIPIorPPIAmount"],
                                IsLocked: loanNumberResults[i]["IsLocked"],
                                LoanNumberDetailed: loanNumberResults[i]["LoanNumber"] + " - from: " + loanNumberResults[i]["LoanDate"] + " to " + loanNumberResults[i]["MaturityDate"] + " " + currentLabel
                            });

                            document.getElementById("applicantName").value = loanNumberResults[i]["Applicant"];
                        }

                        disabled = false;

                        cboLoanNumberLogHistory.dispose();
                        cboLoanNumberLogHistory = new wijmo.input.ComboBox('#cboLoanNumberLogHistory', {
                            disabled: disabled,
                            placeholder: "Select",
                            itemsSource: loanNumberArray,
                            isEditable: false,
                            required: true,
                            displayMemberPath: "LoanNumberDetailed",
                            selectedValuePath: "LoanNumberDetailed",
                            selectedValue: loanApplicationSelectedValue.toString(),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                $("#loadingData").show();

                                urlParameterLoanId = this.selectedItem["Id"];

                                collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByApplicantIdByLoanId());
                                collectionCollectionView.pageSize = 15;

                                collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                                    updateNavigateButtonsCollection();
                                });

                                collectionFlexGrid.itemsSource = collectionCollectionView;
                                collectionFlexGrid.trackChanges = true;
                            }
                        });
                    } else {
                        toastr.info("No logs / History at this time");
                    }

                    createFlexGridForCollection();
                }
            });
        }

        // get collection by applicantId and by loanId
        function getCollectionByApplicantIdByLoanId() {
            NProgress.start();
            var collectionListArray = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/collection/list/byApplicantId/byLoanId/' + getUrlParameter("applicantId") + "/" + urlParameterLoanId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (collectionListResult) {
                    if (collectionListResult.length > 0) {
                        for (i = 0; i < collectionListResult.length; i++) {
                            var btnClearClass = "btn btn-default btn-xs btn-block";
                            if (collectionListResult[i]["IsCleared"]) {
                                btnClearClass = "btn btn-success btn-xs btn-block";
                            }

                            var btnAbsentClass = "btn btn-default btn-xs btn-block";
                            if (collectionListResult[i]["IsAbsent"]) {
                                btnAbsentClass = "btn btn-danger btn-xs btn-block";
                            }

                            var disableButton = ""
                            if (!collectionListResult[i]["IsAction"]) {
                                disableButton = "disabled"
                            }

                            collectionListArray.push({
                                OptionButton: "<button class='btn btn-primary btn-xs btn-block' onclick='btnOptionOnclick()'" + disableButton + "><i class='fa fa-wrench fa-fw'></i> Option</button>",
                                ClearButton: "<button class='" + btnClearClass + "' onclick='btnClearOnclick()'" + disableButton + "><i class='fa fa-check fa-fw'></i> Clear</button>",
                                AbsentButton: "<button class='" + btnAbsentClass + "' onclick='btnAbsentOnclick()'" + disableButton + "><i class='fa fa-circle fa-fw'></i> Absent</button>",
                                UndoChangesButton: "<button class='btn btn-default btn-xs btn-block' data-toggle='tooltip' data-placement='top' title='Undo Actions and Changes' onclick='btnUndoChangesOnclick()'" + disableButton + "><i class='fa fa-undo fa-fw'></i></button>",
                                Id: collectionListResult[i]["Id"],
                                LoanId: collectionListResult[i]["LoanId"],
                                LoanNumber: collectionListResult[i]["LoanNumber"],
                                DayNumber: collectionListResult[i]["DayNumber"],
                                ApplicantId: collectionListResult[i]["ApplicantId"],
                                Applicant: collectionListResult[i]["Applicant"],
                                Area: collectionListResult[i]["Area"],
                                IsFullyPaid: collectionListResult[i]["IsFullyPaid"],
                                CollectionDate: collectionListResult[i]["CollectionDate"],
                                NetAmount: collectionListResult[i]["NetAmount"],
                                CollectibleAmount: collectionListResult[i]["CollectibleAmount"],
                                PenaltyAmount: collectionListResult[i]["PenaltyAmount"],
                                PaidAmount: collectionListResult[i]["PaidAmount"],
                                PreviousBalanceAmount: collectionListResult[i]["PreviousBalanceAmount"],
                                CurrentBalanceAmount: collectionListResult[i]["CurrentBalanceAmount"],
                                IsCleared: collectionListResult[i]["IsCleared"],
                                IsAbsent: collectionListResult[i]["IsAbsent"],
                                IsPartialPayment: collectionListResult[i]["IsPartialPayment"],
                                IsAdvancedPayment: collectionListResult[i]["IsAdvancedPayment"],
                                IsDueDate: collectionListResult[i]["IsDueDate"],
                                IsOverdue: collectionListResult[i]["IsOverdue"],
                                IsExtended: collectionListResult[i]["IsExtended"],
                                IsCurrentCollection: collectionListResult[i]["IsCurrentCollection"],
                                IsProcessed: collectionListResult[i]["IsProcessed"],
                                IsAction: collectionListResult[i]["IsAction"],
                                AssignedCollectorId: collectionListResult[i]["AssignedCollectorId"],
                                AssignedCollector: collectionListResult[i]["AssignedCollector"],
                                AssignedCollectorArea: collectionListResult[i]["AssignedCollectorArea"],
                                CurrentCollectorId: collectionListResult[i]["CurrentCollectorId"],
                                CurrentCollector: collectionListResult[i]["CurrentCollector"],
                                CurrentCollectorArea: collectionListResult[i]["CurrentCollectorArea"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });

            return collectionListArray;
        }

        // navigation button for flexgrid
        function updateNavigateButtonsCollection() {
            if (collectionCollectionView.pageSize <= 0) {
                document.getElementById('navigationPageGridCollection').style.display = 'none';
                return;
            }
            document.getElementById('navigationPageGridCollection').style.display = 'block';
            if (collectionCollectionView.pageIndex === 0) {
                btnFirstPageGridCollection.setAttribute('disabled', 'disabled');
                btnPreviousPageGridCollection.setAttribute('disabled', 'disabled');
                btnNextPageGridCollection.removeAttribute('disabled');
                btnLastPageGridCollection.removeAttribute('disabled');
            } else if (collectionCollectionView.pageIndex === (collectionCollectionView.pageCount - 1)) {
                btnFirstPageGridCollection.removeAttribute('disabled');
                btnPreviousPageGridCollection.removeAttribute('disabled');
                btnLastPageGridCollection.setAttribute('disabled', 'disabled');
                btnNextPageGridCollection.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGridCollection.removeAttribute('disabled');
                btnPreviousPageGridCollection.removeAttribute('disabled');
                btnNextPageGridCollection.removeAttribute('disabled');
                btnLastPageGridCollection.removeAttribute('disabled');
            }
            btnCurrentPageGridCollection.innerHTML = (collectionCollectionView.pageIndex + 1) + ' / ' + collectionCollectionView.pageCount;
        }


        // flexgrid of collection
        function createFlexGridForCollection() {
            collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByApplicantIdByLoanId());
            collectionCollectionView.pageSize = 15;

            collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsCollection();
            });

            collectionFlexGrid = new wijmo.grid.FlexGrid('#collectionFlexGrid');
            collectionFlexGrid.initialize({
                columns: [
                            {
                                "header": "Date",
                                "binding": "CollectionDate",
                                "allowSorting": false,
                                "width": "1.5*",
                            },
                            {
                                "header": "Collectibles",
                                "binding": "CollectibleAmount",
                                "allowSorting": false,
                                "width": "2*",
                            },
                            {
                                "header": "Penalty",
                                "binding": "PenaltyAmount",
                                "allowSorting": false,
                                "width": "2*",
                            },
                            {
                                "header": "Previous",
                                "binding": "PreviousBalanceAmount",
                                "allowSorting": false,
                                "width": "2*",
                            },
                            {
                                "header": "Current",
                                "binding": "CurrentBalanceAmount",
                                "allowSorting": false,
                                "width": "2*",
                            },
                            {
                                "header": "Paid Amount",
                                "binding": "PaidAmount",
                                "allowSorting": false,
                                "width": "2*",
                            },
                            {
                                "header": "O",
                                "binding": "IsOverdue",
                                "allowSorting": false,
                                "width": "0.7*",
                            },
                            {
                                "header": "E",
                                "binding": "IsExtended",
                                "allowSorting": false,
                                "width": "0.7*",
                            },
                            {
                                "header": "A",
                                "binding": "IsAdvancedPayment",
                                "allowSorting": false,
                                "width": "0.7*",
                            },
                            {
                                "header": "F",
                                "binding": "IsFullyPaid",
                                "allowSorting": false,
                                "width": "0.7*",
                            },
                            {
                                "header": "Absent",
                                "binding": "AbsentButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Clear",
                                "binding": "ClearButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "U",
                                "binding": "UndoChangesButton",
                                "width": 30,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                ],
                autoGenerateColumns: false,
                itemsSource: collectionCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            collectionFlexGrid.trackChanges = true;

            var hr = new wijmo.grid.Row();
            collectionFlexGrid.allowMerging = wijmo.grid.AllowMerging.AllHeaders;
            collectionFlexGrid.columnHeaders.rows.push(hr);
            collectionFlexGrid.columnHeaders.rows[0].allowMerging = true;

            collectionFlexGrid.columnHeaders.columns[0].allowMerging = true;
            collectionFlexGrid.columnHeaders.setCellData(0, 0, 'Date');

            collectionFlexGrid.columnHeaders.columns[1].allowMerging = true;
            collectionFlexGrid.columnHeaders.setCellData(0, 1, 'Collectibles');

            collectionFlexGrid.columnHeaders.columns[2].allowMerging = true;
            collectionFlexGrid.columnHeaders.setCellData(0, 2, 'Penalty');

            for (var balancesColumn = 3; balancesColumn <= 4; balancesColumn++) {
                collectionFlexGrid.columnHeaders.setCellData(0, balancesColumn, 'Balances (Amount)');
            }

            collectionFlexGrid.columnHeaders.columns[5].allowMerging = true;
            collectionFlexGrid.columnHeaders.setCellData(0, 5, 'Paid Amount');

            collectionFlexGrid.columnHeaders.columns[6].allowMerging = true;
            collectionFlexGrid.columnHeaders.setCellData(0, 6, 'O');

            collectionFlexGrid.columnHeaders.columns[7].allowMerging = true;
            collectionFlexGrid.columnHeaders.setCellData(0, 7, 'E');

            collectionFlexGrid.columnHeaders.columns[8].allowMerging = true;
            collectionFlexGrid.columnHeaders.setCellData(0, 8, 'A');

            collectionFlexGrid.columnHeaders.columns[9].allowMerging = true;
            collectionFlexGrid.columnHeaders.setCellData(0, 9, 'F');

            for (var actionsColumn = 10; actionsColumn <= 12; actionsColumn++) {
                collectionFlexGrid.columnHeaders.setCellData(0, actionsColumn, 'Actions');
            }

            //Navigation button
            btnFirstPageGridCollection = document.getElementById('btnMoveToFirstPageGridCollection');
            btnPreviousPageGridCollection = document.getElementById('btnMoveToPreviousPageGridCollection');
            btnNextPageGridCollection = document.getElementById('btnMoveToNextPageGridCollection');
            btnLastPageGridCollection = document.getElementById('btnMoveToLastPageGridCollection');
            btnCurrentPageGridCollection = document.getElementById('btnCurrentPageGridCollection');

            updateNavigateButtonsCollection();

            btnFirstPageGridCollection.addEventListener('click', function () {
                collectionCollectionView.moveToFirstPage();
                updateNavigateButtonsCollection();
            });
            btnPreviousPageGridCollection.addEventListener('click', function () {
                collectionCollectionView.moveToPreviousPage();
                updateNavigateButtonsCollection();
            });
            btnNextPageGridCollection.addEventListener('click', function () {
                collectionCollectionView.moveToNextPage();
                updateNavigateButtonsCollection();
            });
            btnLastPageGridCollection.addEventListener('click', function () {
                collectionCollectionView.moveToLastPage();
                updateNavigateButtonsCollection();
            });
        }

        // clear collection
        function btnClearOnclick() {
            NProgress.start();
            collectionCollectionView.editItem(collectionCollectionView.currentItem);
            var collectionItem = collectionCollectionView.currentEditItem;
            if (!collectionItem.IsCleared) {
                if (collectionItem.CurrentBalanceAmount > 0) {
                    $.ajax({
                        type: "PUT",
                        url: '/api/collection/cleared/update/byId/byLoanId/' + collectionItem.Id + '/' + collectionItem.LoanId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        statusCode: {
                            200: function () {
                                toastr.success("Cleared");
                                NProgress.start();
                                $("#loadingData").show();

                                urlParameterLoanId = cboLoanNumberLogHistory.selectedItem["Id"];

                                collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByApplicantIdByLoanId());
                                collectionCollectionView.pageSize = 15;

                                collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                                    updateNavigateButtonsCollection();
                                });

                                collectionFlexGrid.itemsSource = collectionCollectionView;
                                collectionFlexGrid.trackChanges = true;
                            },
                            404: function (message) {
                                NProgress.done();
                                toastr.error(message.responseText.replace(/"/g, ""), "Error 404 - Not Found");
                            },
                            400: function (message) {
                                NProgress.done();
                                toastr.error(message.responseText.replace(/"/g, ""), "Error 400 - Bad Request");
                            },
                            500: function (message) {
                                NProgress.done();
                                toastr.error(message.responseText.replace(/"/g, ""), "Error 500 - Internal Server Error");
                            }
                        }
                    });
                } else {
                    NProgress.done();
                    toastr.info("No Current Balance to be cleared");
                }
            } else {
                NProgress.done();
                toastr.info("Already Cleared");
            }
        }

        // absent collection
        function btnAbsentOnclick() {
            NProgress.start();
            collectionCollectionView.editItem(collectionCollectionView.currentItem);
            var collectionItem = collectionCollectionView.currentEditItem;
            if (collectionItem.IsDueDate) {
                NProgress.done();
                $("#deudatemodal").modal({
                    "show": true,
                    "backdrop": "static"
                });
            } else {
                if (!collectionItem.IsAbsent) {
                    $.ajax({
                        type: "PUT",
                        url: '/api/collection/absent/update/byId/byLoanId/' + collectionItem.Id + '/' + collectionItem.LoanId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        statusCode: {
                            200: function () {
                                toastr.success("Absent");
                                NProgress.start();
                                $("#loadingData").show();

                                urlParameterLoanId = cboLoanNumberLogHistory.selectedItem["Id"];

                                collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByApplicantIdByLoanId());
                                collectionCollectionView.pageSize = 15;

                                collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                                    updateNavigateButtonsCollection();
                                });

                                collectionFlexGrid.itemsSource = collectionCollectionView;
                                collectionFlexGrid.trackChanges = true;
                            },
                            404: function (message) {
                                NProgress.done();
                                toastr.error(message.responseText.replace(/"/g, ""), "Error 404 - Not Found");
                            },
                            400: function (message) {
                                NProgress.done();
                                toastr.error(message.responseText.replace(/"/g, ""), "Error 400 - Bad Request");
                            },
                            500: function (message) {
                                NProgress.done();
                                toastr.error(message.responseText.replace(/"/g, ""), "Error 500 - Internal Server Error");
                            }
                        }
                    });
                } else {
                    NProgress.done();
                    toastr.info("Already Absent");
                }
            }
        }

        // undo changes collection
        function btnUndoChangesOnclick() {
            NProgress.start();
            collectionCollectionView.editItem(collectionCollectionView.currentItem);
            var collectionItem = collectionCollectionView.currentEditItem;
            $.ajax({
                type: "PUT",
                url: '/api/collection/undoChanges/update/byId/byLoanId/' + collectionItem.Id + '/' + collectionItem.LoanId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Undo");
                        NProgress.start();
                        $("#loadingData").show();

                        urlParameterLoanId = cboLoanNumberLogHistory.selectedItem["Id"];

                        collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByApplicantIdByLoanId());
                        collectionCollectionView.pageSize = 15;

                        collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtonsCollection();
                        });

                        collectionFlexGrid.itemsSource = collectionCollectionView;
                        collectionFlexGrid.trackChanges = true;
                    },
                    404: function (message) {
                        NProgress.done();
                        toastr.error(message.responseText.replace(/"/g, ""), "Error 404 - Not Found");
                    },
                    400: function (message) {
                        NProgress.done();
                        toastr.error(message.responseText.replace(/"/g, ""), "Error 400 - Bad Request");
                    },
                    500: function (message) {
                        NProgress.done();
                        toastr.error(message.responseText.replace(/"/g, ""), "Error 500 - Internal Server Error");
                    }
                }
            });
        }

        // on load page
        window.onload = function () {
            toastrModification();
            getLoanApplicationForSelectedValue();
        };

    </script>
</body>
</html>