<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Collection Report</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="/Software" class="btn btn-info">
                        Dashboard
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Set Ups <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/ApplicantList"><i class="fa fa-users fa-fw"></i> Applicants</a></li>
                        <li><a href="/Software/AreaList"><i class="fa fa-map-pin fa-fw"></i> Area</a></li>
                        <li><a href="/Software/StaffList"><i class="fa fa-user fa-fw"></i> Staff</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Activities <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanApplicationList"><i class="fa fa-file-text-o fa-fw"></i> Loan Application</a></li>
                        <li><a href="/Software/CollectionList"><i class="fa fa-money fa-fw"></i> Collection</a></li>
                        <li><a href="/Software/ExpensesList"><i class="fa fa-credit-card fa-fw"></i> Expenses</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Reports <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanReport"><i class="fa fa-print fa-fw"></i> Loan Report</a></li>
                        <li><a href="/Software/CollectionReport"><i class="fa fa-print fa-fw"></i> Collection Report</a></li>
                        <li><a href="/Software/ExpensesReport"><i class="fa fa-print fa-fw"></i> Expenses Report</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        System <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/UserList"><i class="fa fa-key fa-fw"></i> Users</a></li>
                        <li><a href="/Software/CompanyList"><i class="fa fa-building fa-fw"></i> Company</a></li>
                        <li><a href="/Software/SystemTables"><i class="fa fa-table fa-fw"></i> System Tables</a></li>
                    </ul>
                </div>
            </div>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <h4><i class="fa fa-print fa-fw"></i> Collection Report</h4>
                            </td>
                            <td align="right">
                                <button class="btn btn-danger" id="btnClose" onclick="window.location = '/Software'">
                                    <i class="fa fa-close fa-fw"></i> Close
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a data-toggle="pill" href="#collectionPaperApplicant">Applicant Collection Paper</a></li>
                                <li><a data-toggle="pill" href="#collectionPaperArea">Area Collection Paper</a></li>
                                <li><a data-toggle="pill" href="#dailyCollectionAndRemittance">Daily Collection and Remittance</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content">
                                <div id="collectionPaperApplicant" class="tab-pane fade in active">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Applicant Collection Paper
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Applicant</label><br />
                                                <div id="cboApplicantCollectionPaperReportApplicant"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>Loan Number</label><br />
                                                <div id="cboApplicantCollectionPaperReportLoanNumber" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary"><i class="fa fa-eye fa-fw"></i> View</button>
                                            <button class="btn btn-primary"><i class="fa fa-print fa-fw"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="collectionPaperArea" class="tab-pane fade">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Area Collection Paper
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Area</label><br />
                                                <div id="cboAreaCollectionPaperReportArea"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>Collection Date</label><br />
                                                <div id="cboAreaCollectionPaperReportCollectionDate"></div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary"><i class="fa fa-eye fa-fw"></i> View</button>
                                            <button class="btn btn-primary"><i class="fa fa-print fa-fw"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="dailyCollectionAndRemittance" class="tab-pane fade">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Daily Collection and Remittance
                                        </div>
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary"><i class="fa fa-eye fa-fw"></i> View</button>
                                            <button class="btn btn-primary"><i class="fa fa-print fa-fw"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var cboApplicantCollectionPaperReportApplicant;
        var cboApplicantCollectionPaperReportLoanNumber;
        var cboAreaCollectionPaperReportArea;
        var cboAreaCollectionPaperReportCollectionDate;

        // cbo applicant collection paper for applicants
        function createCboApplicant() {
            var applicantArray = new Array();
            $.ajax({
                url: '/api/applicant/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (applicantResults) {
                    var disabled = true;
                    if (applicantResults.length > 0) {
                        for (i = 0; i < applicantResults.length; i++) {
                            applicantArray.push({
                                Id: applicantResults[i]["Id"],
                                ApplicantFullName: applicantResults[i]["ApplicantFullName"]
                            });
                        }

                        disabled = false;
                    }

                    cboApplicantCollectionPaperReportApplicant.dispose();
                    cboApplicantCollectionPaperReportApplicant = new wijmo.input.ComboBox('#cboApplicantCollectionPaperReportApplicant', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: applicantArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "ApplicantFullName",
                        selectedValuePath: "ApplicantFullName",
                        onSelectedIndexChanged: function () {
                            createCboApplicantLoanNumber();
                        }
                    });
                    createCboApplicantLoanNumber();
                }
            });
        }

        // cbo loan number collection paper for applicants
        function createCboApplicantLoanNumber() {
            var loanNumberArray = new Array();
            $.ajax({
                url: '/api/loanApplication/listByApplicantId/' + cboApplicantCollectionPaperReportApplicant.selectedItem["Id"],
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (loanNumberResults) {
                    var disabled = true;
                    if (loanNumberResults.length > 0) {
                        for (i = 0; i < loanNumberResults.length; i++) {
                            loanNumberArray.push({
                                Id: loanNumberResults[i]["Id"],
                                LoanNumber: loanNumberResults[i]["LoanNumber"],
                                LoanNumberDetailed: loanNumberResults[i]["LoanNumber"] + " - from: " + loanNumberResults[i]["LoanDate"] + " to " + loanNumberResults[i]["MaturityDate"]
                            });
                        }

                        disabled = false;
                    }

                    cboApplicantCollectionPaperReportLoanNumber.dispose();
                    cboApplicantCollectionPaperReportLoanNumber = new wijmo.input.ComboBox('#cboApplicantCollectionPaperReportLoanNumber', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: loanNumberArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "LoanNumberDetailed",
                        selectedValuePath: "LoanNumberDetailed",
                    });
                }
            });
        }

        // cbo area collection paper for area
        function createCboArea() {
            var areaArray = new Array();
            $.ajax({
                url: '/api/area/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (areatResults) {
                    var disabled = true;
                    if (areatResults.length > 0) {
                        for (i = 0; i < areatResults.length; i++) {
                            areaArray.push({
                                Id: areatResults[i]["Id"],
                                Area: areatResults[i]["Area"]
                            });
                        }

                        disabled = false;
                    }

                    cboAreaCollectionPaperReportArea.dispose();
                    cboAreaCollectionPaperReportArea = new wijmo.input.ComboBox('#cboAreaCollectionPaperReportArea', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: areaArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "Area",
                        selectedValuePath: "Area",
                    });
                }
            });
        }

        // cbo collection date collection paper for area
        function createCboAreaCollectionPaperReportCollectionDate() {
            cboAreaCollectionPaperReportCollectionDate.dispose();
            cboAreaCollectionPaperReportCollectionDate = new wijmo.input.InputDate('#cboAreaCollectionPaperReportCollectionDate', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                mask: '99-99-9999'
            });
        }

        // on load page
        window.onload = function () {
            cboApplicantCollectionPaperReportLoanNumber = new wijmo.input.ComboBox('#cboApplicantCollectionPaperReportLoanNumber');
            cboApplicantCollectionPaperReportApplicant = new wijmo.input.ComboBox('#cboApplicantCollectionPaperReportApplicant');
            createCboApplicant();

            cboAreaCollectionPaperReportArea = new wijmo.input.ComboBox('#cboAreaCollectionPaperReportArea');
            createCboArea();

            cboAreaCollectionPaperReportCollectionDate = new wijmo.input.InputDate('#cboAreaCollectionPaperReportCollectionDate');
            createCboAreaCollectionPaperReportCollectionDate();
        }
    </script>
</body>
</html>