<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/Images/dlhicon.ico">

    <!-- Title -->
    <title>Collection List</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        <!-- Header -->
        @Html.Partial("SoftwareHeader")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="">
                            <i class="fa fa-money fa-fw"></i> Collection <small>List of Collections</small>
                        </h3>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/Software">Dashboard</a>
                            </li>
                            <li class="active">
                                Collection
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                        <input type="text" id="searchCollection" class="form-control" placeholder="Search" />
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td align="right">
                                    <button class="btn btn-primary" id="btnAddCollection" onclick="btnAddCollectionOnclick()">
                                        <i class="fa fa-plus fa-fw"></i>&nbsp; Add
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table border="0">
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> Start Collection Date</span>
                                        <div id="cboCollectionDate"></div>
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> End Collection Date</span>
                                        <div id="cboCollectionEndDate"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="collectionListFlexGrid" class=""></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span> First
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span> Previous
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span> Next
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span> Last
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User security stamp
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Created by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-6">
                                <p>Updated by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- delete confirmation collection modal -->
    <div class="modal fade" id="deleteConfirmationCollectionModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Collection</h4>
                </div>
                <div class="modal-body">
                    Delete?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btnConfirmDeleteCollection" onclick="btnConfirmDeleteCollectionOnclick()">Delete</button>
                    <button class="btn btn-default" id="btnCloseDeleteCollectionModal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var cboCollectionDate;
        var cboCollectionEndDate;
        var collectionCollectionView;
        var collectionFlexGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;
        var isCollectionDateClicked = false;
        var isCollectionEndDateClicked = false;
        var cboCollectionChangeCollector;

        //var date = new Date(), y = date.getFullYear(), m = date.getMonth();
        //var firstDay = new Date(y, m, 1);
        //var lastDay = new Date(y, m + 1, 0);

        var date = new Date();
        var y = date.getFullYear();
        var fm = date.getMonth() - 1;
        var m = date.getMonth();
        var firstDay = new Date(y, fm, 1);
        var lastDay = new Date(y, m + 1, 0);

        // create cbo date for collection date
        function createCboCollectionDate() {
            cboCollectionDate.dispose();
            cboCollectionDate = new wijmo.input.InputDate('#cboCollectionDate', {
                format: 'MM-dd-yyyy',
                value: new Date(firstDay),
                mask: '99-99-9999',
                onValueChanged: function () {
                    NProgress.start();
                    collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByCollectionDateList());
                    collectionCollectionView.canFilter = true;
                    collectionCollectionView.pageSize = 15;

                    var filterText = '';
                    $('#searchCollection').keyup(function () {
                        filterText = this.value.toLowerCase();
                        collectionCollectionView.refresh();
                    });

                    collectionCollectionView.filter = function (item) {
                        return !filterText || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                           || (item.CollectionNumber.toLowerCase().indexOf(filterText) > -1);
                    }

                    collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                        updateNavigateButtons();
                    });

                    collectionCollectionView.currentChanged.addHandler(function (sender, args) {
                        updateStampSecurity();
                    });

                    // Flex Grid
                    collectionFlexGrid.itemsSource = collectionCollectionView;
                    collectionFlexGrid.trackChanges = true;
                }
            });
        }

        // create cbo date for collection date
        function createCboCollectionEndDate() {
            cboCollectionEndDate.dispose();
            cboCollectionEndDate = new wijmo.input.InputDate('#cboCollectionEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(lastDay),
                mask: '99-99-9999',
                onValueChanged: function () {
                    NProgress.start();
                    collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByCollectionDateList());
                    collectionCollectionView.canFilter = true;
                    collectionCollectionView.pageSize = 15;

                    var filterText = '';
                    $('#searchCollection').keyup(function () {
                        filterText = this.value.toLowerCase();
                        collectionCollectionView.refresh();
                    });

                    collectionCollectionView.filter = function (item) {
                        return !filterText || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                           || (item.CollectionNumber.toLowerCase().indexOf(filterText) > -1);
                    }

                    collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                        updateNavigateButtons();
                    });

                    collectionCollectionView.currentChanged.addHandler(function (sender, args) {
                        updateStampSecurity();
                    });

                    // Flex Grid
                    collectionFlexGrid.itemsSource = collectionCollectionView;
                    collectionFlexGrid.trackChanges = true;
                }
            });
        }

        // get colllection list by collection date and area id
        function getCollectionByCollectionDateList() {
            var collectionListArray = new wijmo.collections.ObservableArray;
            var startDate = [cboCollectionDate.value.getMonth() + 1, cboCollectionDate.value.getDate(), cboCollectionDate.value.getFullYear()].join('-');
            var endDate = [cboCollectionEndDate.value.getMonth() + 1, cboCollectionEndDate.value.getDate(), cboCollectionEndDate.value.getFullYear()].join('-');
            $.ajax({
                url: '/api/collections/list/ByCollectionDate/' + startDate + '/' + endDate,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (collectionListResult) {
                    if (collectionListResult.length > 0) {
                        for (i = 0; i < collectionListResult.length; i++) {
                            var isLocked = false;
                            if (collectionListResult[i]["IsLocked"]) {
                                isLocked = true;
                            }

                            var disabledButton = "disabled";
                            var canPerformActions = "@ViewData["CanPerformActions"]";
                            if (canPerformActions == 1) {
                                disabledButton = "";
                            }

                            var newDate = new Date(collectionListResult[i]["CollectionDate"]);
                            var collectionDateValue = ('0' + (newDate.getMonth() + 1)).slice(-2) + '-' + ('0' + newDate.getDate()).slice(-2) + '-' + newDate.getFullYear();

                            collectionListArray.push({
                                EditButton: "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditCollectionOnclick()'" + disabledButton + "><i class='fa fa-edit fa-fw'></i> Edit</button>",
                                DeleteButton: "<button class='btn btn-danger btn-xs btn-block'  onclick='btnDeleteCollectionOnclick(" + isLocked + ")'" + disabledButton + "><i class='fa fa-trash fa-fw'></i> Delete</button>",
                                LoanDetailButton: "<button class='btn btn-default btn-xs btn-block'  onclick='btnLoanDetailOnclick()'" + disabledButton + "> " + collectionListResult[i]["LoanNumberDetail"] + "</button>",
                                Id: collectionListResult[i]["Id"],
                                CollectionNumber: "CL-" + collectionListResult[i]["CollectionNumber"],
                                CollectionDate: collectionDateValue,
                                Applicant: collectionListResult[i]["Applicant"],
                                Particulars: collectionListResult[i]["Particulars"],
                                LoanId: collectionListResult[i]["LoanId"],
                                LoanNumberDetail: collectionListResult[i]["LoanNumberDetail"],
                                LoanId: collectionListResult[i]["LoanId"],
                                LoanNumber: collectionListResult[i]["LoanNumber"],
                                CollectionStatus: collectionListResult[i]["CollectionStatus"],
                                Particulars: collectionListResult[i]["Particulars"],
                                TotalPaidAmount: collectionListResult[i]["TotalPaidAmount"],
                                TotalPenaltyAmount: collectionListResult[i]["TotalPenaltyAmount"],
                                PreparedByUserId: collectionListResult[i]["PreparedByUserId"],
                                PreparedByUser: collectionListResult[i]["PreparedByUser"],
                                IsReconstruct: collectionListResult[i]["IsReconstruct"],
                                IsRenew: collectionListResult[i]["IsRenew"],
                                IsLoanApplication: collectionListResult[i]["IsLoanApplication"],
                                IsLoanReconstruct: collectionListResult[i]["IsLoanReconstruct"],
                                IsLoanRenew: collectionListResult[i]["IsLoanRenew"],
                                IsLocked: collectionListResult[i]["IsLocked"],
                                CreatedByUserId: collectionListResult[i]["CreatedByUserId"],
                                CreatedByUser: collectionListResult[i]["CreatedByUser"],
                                CreatedDateTime: collectionListResult[i]["CreatedDateTime"],
                                UpdatedByUserId: collectionListResult[i]["UpdatedByUserId"],
                                UpdatedByUser: collectionListResult[i]["UpdatedByUser"],
                                UpdatedDateTime: collectionListResult[i]["UpdatedDateTime"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });
            return collectionListArray;
        }

        // add new collection
        function btnAddCollectionOnclick() {
            document.getElementById("btnAddCollection").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Adding";
            $("#btnAddCollection").prop("disabled", true);

            $.ajax({
                type: "POST",
                url: '/api/collection/add',
                contentType: "application/json; charset=utf-8",
                success: function (id) {
                    if (id > 0) {
                        window.location = '/Software/CollectionDetail?id=' + id;
                    } else {
                        toastr.error("Bad Request");
                    }
                }
            });
        }

        // edit loan application
        function btnEditCollectionOnclick() {
            collectionCollectionView.editItem(collectionCollectionView.currentItem);
            var id = collectionCollectionView.currentEditItem.Id;
            window.location = '/Software/CollectionDetail?id=' + id;
        }

        // loan detail page
        function btnLoanDetailOnclick() {
            collectionCollectionView.editItem(collectionCollectionView.currentItem);
            var loanId = collectionCollectionView.currentEditItem.LoanId;

            if (collectionCollectionView.currentEditItem.IsLoanApplication) {
                var link = '/Software/LoanApplicationDetail?id=' + loanId;
                window.open(link, "_blank");
            } else {
                if (collectionCollectionView.currentEditItem.IsLoanReconstruct) {
                    var link = '/Software/ReconstructDetail?id=' + loanId;
                    window.open(link, "_blank");
                } else {
                    if (collectionCollectionView.currentEditItem.IsLoanRenew) {
                        var link = '/Software/RenewDetail?id=' + loanId;
                        window.open(link, "_blank");
                    } else {
                        toastr.error("No Loan Reference");
                    }
                }
            }
        }

        // delete loan application
        function btnDeleteCollectionOnclick(isLocked) {
            if (isLocked) {
                toastr.info("Record Locked");
            } else {
                $("#deleteConfirmationCollectionModal").modal({
                    "show": true,
                    "backdrop": "static"
                });

                document.getElementById("btnConfirmDeleteCollection").innerHTML = "Delete";
                $("#btnConfirmDeleteCollection").prop("disabled", false);
                $("#btnCloseDeleteCollectionModal").prop("disabled", false);
            }
        }
        function btnConfirmDeleteCollectionOnclick() {
            document.getElementById("btnConfirmDeleteCollection").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Deleting";
            $("#btnConfirmDeleteCollection").prop("disabled", true);
            $("#btnCloseDeleteCollectionModal").prop("disabled", true);

            collectionCollectionView.editItem(collectionCollectionView.currentItem);
            var id = collectionCollectionView.currentEditItem.Id;
            $.ajax({
                url: '/api/collection/delete/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");

                        $('#deleteConfirmationCollectionModal').modal('hide');
                        collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByCollectionDateList());
                        collectionCollectionView.canFilter = true;
                        collectionCollectionView.pageSize = 15;

                        var filterText = '';
                        $('#searchCollection').keyup(function () {
                            filterText = this.value.toLowerCase();
                            collectionCollectionView.refresh();
                        });

                        collectionCollectionView.filter = function (item) {
                            return !filterText || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                               || (item.CollectionNumber.toLowerCase().indexOf(filterText) > -1);
                        }

                        collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtons();
                        });

                        collectionCollectionView.currentChanged.addHandler(function (sender, args) {
                            updateStampSecurity();
                        });

                        // Flex Grid
                        collectionFlexGrid.itemsSource = collectionCollectionView;
                        collectionFlexGrid.trackChanges = true;
                    },
                    404: function () {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Not Found");
                        $('#deleteConfirmationCollectionModal').modal('hide');
                        document.getElementById("btnConfirmDeleteCollection").innerHTML = "Delete";
                        $("#btnConfirmDeleteCollection").prop("disabled", false);
                        $("#btnCloseDeleteCollectionModal").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Bad Request");
                        document.getElementById("btnConfirmDeleteCollection").innerHTML = "Delete";
                        $("#btnConfirmDeleteCollection").prop("disabled", false);
                        $("#btnCloseDeleteCollectionModal").prop("disabled", false);
                    }
                }
            });
        }

        // stamp security
        function updateStampSecurity() {
            var item = collectionCollectionView.currentItem;
            document.getElementById('stampCreatedBy').innerHTML = item.CreatedByUser;
            document.getElementById('stampCreatedDate').innerHTML = item.CreatedDateTime;
            document.getElementById('stampUpdatedBy').innerHTML = item.UpdatedByUser;
            document.getElementById('stampUpdatedDate').innerHTML = item.UpdatedDateTime;
        }

        // Navigation Buttons for loan application
        function updateNavigateButtons() {
            if (collectionCollectionView.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            btnCurrentPageGrid.innerHTML = (collectionCollectionView.pageIndex + 1) + ' / ' + collectionCollectionView.pageCount;
        }

        // create collection flexgrid
        function createCollectionFlexGrid() {
            collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByCollectionDateList());
            collectionCollectionView.canFilter = true;
            collectionCollectionView.pageSize = 15;

            var filterText = '';
            $('#searchCollection').keyup(function () {
                filterText = this.value.toLowerCase();
                collectionCollectionView.refresh();
            });

            collectionCollectionView.filter = function (item) {
                return !filterText || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                   || (item.CollectionNumber.toLowerCase().indexOf(filterText) > -1);
            }

            collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtons();
            });

            collectionCollectionView.currentChanged.addHandler(function (sender, args) {
                updateStampSecurity();
            });

            // Flex Grid
            collectionFlexGrid = new wijmo.grid.FlexGrid('#collectionListFlexGrid');
            collectionFlexGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "width": 35,
                                "align": "center",
                                "allowSorting": true,
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Date",
                                "binding": "CollectionDate",
                                "allowSorting": true,
                                "width": 100,
                            },
                            {
                                "header": "Collection No.",
                                "binding": "CollectionNumber",
                                "allowSorting": true,
                                "width": 150,
                            },
                            {
                                "header": "Applicant",
                                "binding": "Applicant",
                                "allowSorting": true,
                                "width": 220,
                            },
                            {
                                "header": "Status",
                                "binding": "CollectionStatus",
                                "allowSorting": true,
                                "width": 200,
                            },
                            {
                                "header": "Particulars",
                                "binding": "Particulars",
                                "allowSorting": true,
                                "width": 300,
                            },
                            {
                                "header": "Trn. No.",
                                "binding": "LoanDetailButton",
                                "width": 150,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Paid",
                                "binding": "TotalPaidAmount",
                                "allowSorting": true,
                                "width": 130
                            },
                            {
                                "header": "Penalty",
                                "binding": "TotalPenaltyAmount",
                                "allowSorting": true,
                                "width": 130
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: collectionCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            collectionFlexGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtons();

            btnFirstPageGrid.addEventListener('click', function () {
                collectionCollectionView.moveToFirstPage();
                updateNavigateButtons();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                collectionCollectionView.moveToPreviousPage();
                updateNavigateButtons();
            });
            btnNextPageGrid.addEventListener('click', function () {
                collectionCollectionView.moveToNextPage();
                updateNavigateButtons();
            });
            btnLastPageGrid.addEventListener('click', function () {
                collectionCollectionView.moveToLastPage();
                updateNavigateButtons();
            });

        }

        function collectionListOnclick() {
            NProgress.start();
            setTimeout(function () {
                collectionCollectionView = new wijmo.collections.CollectionView(getCollectionByCollectionDateList());
                collectionCollectionView.canFilter = true;
                collectionCollectionView.pageSize = 15;

                var filterText = '';
                $('#searchCollection').keyup(function () {
                    filterText = this.value.toLowerCase();
                    collectionCollectionView.refresh();
                });

                collectionCollectionView.filter = function (item) {
                    return !filterText || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                       || (item.CollectionNumber.toLowerCase().indexOf(filterText) > -1);
                }

                collectionCollectionView.collectionChanged.addHandler(function (sender, args) {
                    updateNavigateButtons();
                });

                collectionCollectionView.currentChanged.addHandler(function (sender, args) {
                    updateStampSecurity();
                });

                // Flex Grid
                collectionFlexGrid.itemsSource = collectionCollectionView;
                collectionFlexGrid.trackChanges = true;
            }, 300);
        }

        // on load page
        window.onload = function () {
            NProgress.start();
            toastrModification();
            cboCollectionDate = new wijmo.input.InputDate('#cboCollectionDate');
            createCboCollectionDate();
            cboCollectionEndDate = new wijmo.input.InputDate('#cboCollectionEndDate');
            createCboCollectionEndDate();
            createCollectionFlexGrid();

            doubleModal();
            $(function () { $("[data-toggle='tooltip']").tooltip(); });

            var canPerformActions = "@ViewData["CanPerformActions"]";
            if (canPerformActions == 1) {
                $('#btnClose').prop('disabled', false);
            } else {
                $(':button').prop('disabled', true);
                $('#btnClose').prop('disabled', false);
                getUserRightsMessageError();
            }
        }
    </script>
</body>
</html>