<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Company Detail</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        <!-- Header -->
        @Html.Partial("SoftwareHeader")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="">
                            <i class="fa fa-building fa-fw"></i>  Company Detail <small>Edit detail page</small>
                        </h3>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/Software">Dashboard</a>
                            </li>
                            <li>
                                <a href="/Software/CompanyList">Companies</a>
                            </li>
                            <li class="active">
                                Company Detail
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" align="right">
                        <button class="btn btn-primary" id="btnLockCompany" onclick="btnLockCompanyOnclick()">
                            <i class="fa fa-lock fa-fw"></i> Lock
                        </button>
                        <button class="btn btn-primary" id="btnUnlockCompany" onclick="btnUnlockCompanyOnclick()">
                            <i class="fa fa-unlock fa-fw"></i> Unlock
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Company Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control requiredCompany" id="companyName" placeholder="Company Name" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Address</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control requiredCompany" rows="5" id="companyAddress" placeholder="Company Address"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Contact Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control requiredCompany" id="companyContactNumber" placeholder="Contact Number" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Created by:</p>
                                                <div style="padding-left: 10px;">
                                                    <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                                    <br />
                                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Updated by:</p>
                                                <div style="padding-left: 10px;">
                                                    <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                                    <br />
                                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var isLocked = false;

        // get company data
        function getCompanyDetailData() {
            $.ajax({
                url: '/api/company/getById/' + getUrlParameter("id"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (companyDetailResult) {
                    if (companyDetailResult != null) {
                        document.getElementById("companyName").value = companyDetailResult.Company;
                        document.getElementById("companyAddress").value = companyDetailResult.Address;
                        document.getElementById("companyContactNumber").value = companyDetailResult.ContactNumber;
                        document.getElementById('stampCreatedBy').innerHTML = companyDetailResult.CreatedByUser;
                        document.getElementById('stampCreatedDate').innerHTML = companyDetailResult.CreatedDateTime;
                        document.getElementById('stampUpdatedBy').innerHTML = companyDetailResult.UpdatedByUser;
                        document.getElementById('stampUpdatedDate').innerHTML = companyDetailResult.UpdatedDateTime;

                        if (companyDetailResult.IsLocked) {
                            document.getElementById("companyName").disabled = true;
                            document.getElementById("companyAddress").disabled = true;
                            document.getElementById("companyContactNumber").disabled = true;

                            $("#btnLockCompany").prop("disabled", true);

                            isLocked = true;
                        } else {
                            $("#btnUnlockCompany").prop("disabled", true);
                        }
                    } else {
                        alert("The record you'd requested has no data");
                        window.history.back();
                    }
                    NProgress.done();
                }
            });
        }

        // form input validation
        function inputValidation() {
            var isValid = true;
            $('.requiredCompany').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            return isValid;
        }

        // lock company detail
        function btnLockCompanyOnclick() {
            if (inputValidation()) {
                document.getElementById("btnLockCompany").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Locking";
                $("#btnLockCompany").prop("disabled", true);
                $("#btnUnlockCompany").prop("disabled", true);
                $("#btnClose").prop("disabled", true);

                var companyDetailObject = new Object();
                companyDetailObject.Company = document.getElementById('companyName').value;
                companyDetailObject.Address = document.getElementById('companyAddress').value;
                companyDetailObject.ContactNumber = document.getElementById('companyContactNumber').value;
                var companyDetailData = JSON.stringify(companyDetailObject);

                $.ajax({
                    type: "PUT",
                    url: '/api/company/lock/' + getUrlParameter("id"),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: companyDetailData,
                    statusCode: {
                        200: function () {
                            toastr.success("Reloading the page", "Lock Successful");
                            window.setTimeout(function () {
                                location.reload();
                            }, 1500);
                        },
                        404: function () {
                            document.getElementById("btnLockCompany").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";

                            toastr.error("Not Found");

                            $("#btnLockCompany").prop("disabled", false);
                            $("#btnClose").prop("disabled", false);
                        },
                        400: function () {
                            document.getElementById("btnLockCompany").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";

                            toastr.error("Bad Request");

                            $("#btnLockCompany").prop("disabled", false);
                            $("#btnClose").prop("disabled", false);
                        }
                    }
                });
            } else {
                toastr.error("Invalid Entry");
            }
        }

        // save changes company detail
        function btnUnlockCompanyOnclick() {
            document.getElementById("btnUnlockCompany").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Unlocking";
            $("#btnUnlockCompany").prop("disabled", true);
            $("#btnLockCompany").prop("disabled", true);
            $("#btnClose").prop("disabled", true);

            $.ajax({
                type: "PUT",
                url: '/api/company/unlock/' + getUrlParameter("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Reloading the page", "Unlock Successful");
                        window.setTimeout(function () {
                            location.reload();
                        }, 1500);
                    },
                    404: function () {
                        document.getElementById("btnUnlockCompany").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Unlock";

                        toastr.error("Not Found");

                        $("#btnUnlockCompany").prop("disabled", true);
                        $("#btnClose").prop("disabled", true);
                    },
                    400: function () {
                        document.getElementById("btnUnlockCompany").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Unlock";

                        toastr.error("Bad Request");

                        $("#btnUnlockCompany").prop("disabled", true);
                        $("#btnClose").prop("disabled", true);
                    }
                }
            });
        }

        // on load page
        window.onload = function () {
            NProgress.start();
            toastrModification();
            getCompanyDetailData();

            var canPerformActions = "@ViewData["CanPerformActions"]";
            if (canPerformActions == 1) {
                $('#btnClose').prop('disabled', false);
            } else {
                $(':button').prop('disabled', true);
                $('#btnClose').prop('disabled', false);
                getUserRightsMessageError();
            }
        }
    </script>
</body>
</html>