<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Company List</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="/Software" class="btn btn-info">
                        Dashboard
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Set Ups <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/ApplicantList"><i class="fa fa-users fa-fw"></i> Applicants</a></li>
                        <li><a href="/Software/Tables"><i class="fa fa-table fa-fw"></i> Tables</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Activities <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanApplicationList"><i class="fa fa-file-text-o fa-fw"></i> Loan Application</a></li>
                        <li><a href="/Software/CollectionList"><i class="fa fa-money fa-fw"></i> Collection</a></li>
                        <li class="divider"></li>
                        <li><a href="/Software/ExpensesList"><i class="fa fa-credit-card fa-fw"></i> Expenses</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Reports <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/Reports"><i class="fa fa-print fa-fw"></i> Generate Reports</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        System <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/UserList"><i class="fa fa-key fa-fw"></i> Users</a></li>
                        <li><a href="/Software/CompanyList"><i class="fa fa-building fa-fw"></i> Company</a></li>
                        <li class="divider"></li>
                        <li><a href="/Manage/Index"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
                    </ul>
                </div>
            </div>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Companies</h4>
                </div>
                <div class="panel-heading">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                    <input type="text" id="searchCompany" class="form-control" placeholder="Search" />
                                </div>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td align="right">
                                <button class="btn btn-primary" id="btnAddNewCompany" onclick="btnAddNewCompanyOnclick()">
                                    <i class="fa fa-plus fa-fw"></i>&nbsp; Add
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="flexgridHeight">
                        <div id="companyListFlexGrid" class="grid"></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="btn-group col-md-7" id="navigationPageGrid">
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                <span class="glyphicon glyphicon-fast-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                <span class="glyphicon glyphicon-step-backward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                <span class="glyphicon glyphicon-step-forward"></span>
                            </button>
                            <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                <span class="glyphicon glyphicon-fast-forward"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    User security stamp
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Created by:</p>
                            <div style="padding-left: 10px;">
                                <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                <br />
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <p>Updated by:</p>
                            <div style="padding-left: 10px;">
                                <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                <br />
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- delete confirmation company modal -->
    <div class="modal fade" id="deleteConfirmationCompanyModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Company</h4>
                </div>
                <div class="modal-body">
                    Are you sure that you want to delete this Company?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btnConfirmDeleteCompany" onclick="btnConfirmDeleteCompanyOnclick()">Delete</button>
                    <button class="btn btn-default" id="btnCloseDeleteCompanyModal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var companyCollectionView;
        var companyFlexGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;

        // get company
        function getCompanyData() {
            var companiesArray = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/company/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (companyListResult) {
                    if (companyListResult.length > 0) {
                        for (i = 0; i < companyListResult.length; i++) {
                            var isLocked = false;
                            if (companyListResult[i]["IsLocked"]) {
                                isLocked = true;
                            }

                            companiesArray.push({
                                EditButton: "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditCompanyOnclick()'><i class='fa fa-edit fa-fw'></i> Edit</button>",
                                DeleteButton: "<button class='btn btn-danger btn-xs btn-block'  onclick='btnDeleteCompanyOnclick(" + isLocked + ")'><i class='fa fa-trash fa-fw'></i> Delete</button>",
                                Id: companyListResult[i]["Id"],
                                Company: companyListResult[i]["Company"],
                                Address: companyListResult[i]["Address"],
                                ContactNumber: companyListResult[i]["ContactNumber"],
                                IsLocked: companyListResult[i]["IsLocked"],
                                CreatedByUserId: companyListResult[i]["CreatedByUserId"],
                                CreatedByUser: companyListResult[i]["CreatedByUser"],
                                CreatedDateTime: companyListResult[i]["CreatedDateTime"],
                                UpdatedByUserId: companyListResult[i]["UpdatedByUserId"],
                                UpdatedByUser: companyListResult[i]["UpdatedByUser"],
                                UpdatedDateTime: companyListResult[i]["UpdatedDateTime"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });
            return companiesArray;
        }

        // add new company
        function btnAddNewCompanyOnclick() {
            $("#btnAddNewCompany").prop("disabled", true);
            document.getElementById("btnAddNewCompany").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Adding new Company";

            $.ajax({
                type: "POST",
                url: '/api/company/add',
                contentType: "application/json; charset=utf-8",
                success: function (id) {
                    if (id > 0) {
                        window.location = '/Software/CompanyDetail?id=' + id;
                    } else {
                        toastr.error("Internal Server Error");
                    }
                }
            });
        }

        // edit company
        function btnEditCompanyOnclick() {
            companyCollectionView.editItem(companyCollectionView.currentItem);
            var currentItem = companyCollectionView.currentEditItem;

            window.location = "/Software/CompanyDetail?id=" + currentItem.Id;
        }

        // delete company
        function btnDeleteCompanyOnclick(isLocked) {
            if (isLocked) {
                toastr.info("Record Locked");
            } else {
                $("#deleteConfirmationCompanyModal").modal({
                    "show": true,
                    "backdrop": "static"
                });

                document.getElementById("btnConfirmDeleteCompany").innerHTML = "Delete";
                $("#btnConfirmDeleteCompany").prop("disabled", false);
                $("#btnCloseDeleteCompanyModal").prop("disabled", false);
            }
        }

        // confirm delete company
        function btnConfirmDeleteCompanyOnclick() {
            document.getElementById("btnConfirmDeleteCompany").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Deleting";
            $("#btnConfirmDeleteCompany").prop("disabled", true);
            $("#btnCloseDeleteCompanyModal").prop("disabled", true);

            companyCollectionView.editItem(companyCollectionView.currentItem);
            var currentItem = companyCollectionView.currentEditItem;

            $.ajax({
                type: "DELETE",
                url: '/api/company/delete/' + currentItem.Id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");

                        $("#deleteConfirmationCompanyModal").modal("hide");

                        companyCollectionView = new wijmo.collections.CollectionView(getCompanyData());
                        companyCollectionView.canFilter = true;
                        companyCollectionView.pageSize = 15;

                        var filterText = '';
                        $('#searchCompany').keyup(function () {
                            filterText = this.value.toLowerCase();
                            companyCollectionView.refresh();
                        });

                        companyCollectionView.filter = function (item) {
                            return !filterText || (item.Company.toLowerCase().indexOf(filterText) > -1)
                                               || (item.ContactNumber.toLowerCase().indexOf(filterText) > -1);
                        }

                        companyCollectionView.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtons();
                        });

                        companyCollectionView.currentChanged.addHandler(function (sender, args) {
                            updateStampSecurity();
                        });

                        // Flex Grid
                        companyFlexGrid.itemsSource = companyCollectionView;
                        companyFlexGrid.trackChanges = true;
                    },
                    404: function () {
                        toastr.error("Not Found");

                        $("#deleteConfirmationCompanyModal").modal("hide");

                        document.getElementById("btnConfirmDeleteCompany").innerHTML = "Delete";
                        $("#btnConfirmDeleteCompany").prop("disabled", false);
                        $("#btnCloseDeleteCompanyModal").prop("disabled", false);
                    },
                    400: function () {
                        toastr.error("Bad Request");

                        $("#deleteConfirmationCompanyModal").modal("hide");

                        document.getElementById("btnConfirmDeleteCompany").innerHTML = "Delete";
                        $("#btnConfirmDeleteCompany").prop("disabled", false);
                        $("#btnCloseDeleteCompanyModal").prop("disabled", false);
                    }
                }
            });
        }

        // navigation button for flexgrid
        function updateNavigateButtons() {
            if (companyCollectionView.pageSize <= 0) {
                document.getElementById('navigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('navigationPageGrid').style.display = 'block';
            if (companyCollectionView.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (companyCollectionView.pageIndex === (companyCollectionView.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnCurrentPageGrid.innerHTML = (companyCollectionView.pageIndex + 1) + ' / ' + companyCollectionView.pageCount;
        }

        // stamp security
        function updateStampSecurity() {
            var item = companyCollectionView.currentItem;
            document.getElementById('stampCreatedBy').innerHTML = item.CreatedByUser;
            document.getElementById('stampCreatedDate').innerHTML = item.CreatedDateTime;
            document.getElementById('stampUpdatedBy').innerHTML = item.UpdatedByUser;
            document.getElementById('stampUpdatedDate').innerHTML = item.UpdatedDateTime;
        }

        // on load page
        window.onload = function () {
            NProgress.start();
            toastrModification();

            companyCollectionView = new wijmo.collections.CollectionView(getCompanyData());
            companyCollectionView.canFilter = true;
            companyCollectionView.pageSize = 15;

            var filterText = '';
            $('#searchCompany').keyup(function () {
                filterText = this.value.toLowerCase();
                companyCollectionView.refresh();
            });

            companyCollectionView.filter = function (item) {
                return !filterText || (item.Company.toLowerCase().indexOf(filterText) > -1)
                                   || (item.ContactNumber.toLowerCase().indexOf(filterText) > -1);
            }

            companyCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtons();
            });

            companyCollectionView.currentChanged.addHandler(function (sender, args) {
                updateStampSecurity();
            });
            
            // Flex Grid
            companyFlexGrid = new wijmo.grid.FlexGrid('#companyListFlexGrid');
            companyFlexGrid.initialize({
                columns: [
                            {
                                "header": "Company",
                                "isReadOnly": true,
                                "visible": false,
                                "allowDragging": false,
                                "width": "*"
                            },
                            {
                                "header": "Edit",
                                "binding": "EditButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Company",
                                "binding": "Company",
                                "allowSorting": true,
                                "width": "3*",
                            },
                            {
                                "header": "Address",
                                "binding": "Address",
                                "allowSorting": true,
                                "width": "4*",
                            },
                            {
                                "header": "Contact Number",
                                "binding": "ContactNumber",
                                "allowSorting": true,
                                "width": "2*",
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": "0.4*",
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: companyCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            companyFlexGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtons();

            btnFirstPageGrid.addEventListener('click', function () {
                companyCollectionView.moveToFirstPage();
                updateNavigateButtons();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                companyCollectionView.moveToPreviousPage();
                updateNavigateButtons();
            });
            btnNextPageGrid.addEventListener('click', function () {
                companyCollectionView.moveToNextPage();
                updateNavigateButtons();
            });
            btnLastPageGrid.addEventListener('click', function () {
                companyCollectionView.moveToLastPage();
                updateNavigateButtons();
            });
        }
    </script>
</body>
</html>