<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Disbursement Detail</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="list-group">
                        <a href="/Software" class="list-group-item">
                            <i class="fa fa-dashboard fa-fw"></i> &nbsp; Dashboard
                        </a>
                        <a href="/Software/ApplicantList" class="list-group-item">
                            <i class="fa fa-users fa-fw"></i> &nbsp; Applicant
                        </a>
                        <a href="/Software/LoanApplicationList" class="list-group-item">
                            <i class="fa fa-file-text-o fa-fw"></i> &nbsp; Loan
                        </a>
                        <a href="/Software/CollectionList" class="list-group-item">
                            <i class="fa fa-money fa-fw"></i> &nbsp; Collection
                        </a>
                        <a href="/Software/DisbursementList" class="list-group-item active">
                            <i class="fa fa-credit-card fa-fw"></i> &nbsp; Disbursement
                        </a>
                        <a href="/Software/Tables" class="list-group-item">
                            <i class="fa fa-table fa-fw"></i> &nbsp; Tables
                        </a>
                        <a href="/Software/Reports" class="list-group-item">
                            <i class="fa fa-print fa-fw"></i> &nbsp; Reports
                        </a>
                        <a href="/Software/CompanyList" class="list-group-item">
                            <i class="fa fa-building fa-fw"></i> &nbsp; Company
                        </a>
                        <a href="/Software/UserList" class="list-group-item">
                            <i class="fa fa-key fa-fw"></i> &nbsp; Users
                        </a>
                        <a href="/Manage/Index" class="list-group-item">
                            <i class="fa fa-gears fa-fw"></i> &nbsp; Settings
                        </a>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            User security stamp
                        </div>
                        <div class="panel-body">
                            <p>Created by:</p>
                            <div style="padding-left: 10px;">
                                <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                <br />
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                            </div>
                            <hr />
                            <p>Updated by:</p>
                            <div style="padding-left: 10px;">
                                <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                <br />
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <h4>Disbursement Detail</h4>
                                    </td>
                                    <td align="right">
                                        <button class="btn btn-primary" id="btnLock" onclick="btnLockOnClick()">
                                            <i class="fa fa-lock fa-fw"></i> Lock
                                        </button>
                                        <button class="btn btn-primary" id="btnUnlock" onclick="btnUnlockOnClick()">
                                            <i class="fa fa-unlock fa-fw"></i> Unlock
                                        </button>
                                        <button class="btn btn-primary" id="btnPrint" onclick="btnPrintOnClick()">
                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                        </button>
                                        <button class="btn btn-danger" id="btnClose" onclick="window.location = '/Software/DisbursementList'">
                                            <i class="fa fa-close fa-fw"></i> Close
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Disbursement Header Form
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Disbursement Number</label><br />
                                        <input type="text" class="form-control requiredDisbursement" id="disbursementNumber" placeholder="Disbursement Number" />
                                    </div>
                                    <div class="form-group">
                                        <label>Disbursement Date</label><br />
                                        <div id="disbursementDate"></div> &nbsp; <span id="disbursementDateString"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Branch</label><br />
                                        <div id="disbursementBranch"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Account</label><br />
                                        <div id="disbursementAccount"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Payee</label><br />
                                        <input type="text" class="form-control requiredDisbursement" id="disbursementPayee" placeholder="Payee" />
                                    </div>
                                    <div class="form-group">
                                        <label>Particulars</label><br />
                                        <textarea class="form-control requiredDisbursement" rows="5" id="disbursementParticulars" placeholder="Particulars"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Disburse Amount</label><br />
                                        <div class="input-group numberField">
                                            <span class="input-group-addon">&#8369;</span>
                                            <input type="text" id="disbursementAmount" class="form-control numberField requiredDisbursement" placeholder="0.00">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Prepared by</label><br />
                                        <div id="disbursementPreparedBy"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Verified by</label><br />
                                        <div id="disbursementVerifiedBy"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" align="right">
                            <button class="btn btn-primary" id="btnLockButtom" onclick="btnLockOnClick()">
                                <i class="fa fa-lock fa-fw"></i> Lock
                            </button>
                            <button class="btn btn-primary" id="btnUnlockButtom" onclick="btnUnlockOnClick()">
                                <i class="fa fa-unlock fa-fw"></i> Unlock
                            </button>
                            <button class="btn btn-primary" id="btnPrintButtom" onclick="btnPrintOnClick()">
                                <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                            </button>
                            <button class="btn btn-danger" id="btnCloseButtom" onclick="window.location = '/Software/DisbursementList'">
                                <i class="fa fa-close fa-fw"></i> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global varibles
        var cboDisbursementDate;
        var cboDisbursementBranch;
        var cboDisbursementAccount;
        var cboDisbursementPreparedBy;
        var cboDisbursementVerifiedBy;

        // create disbursement Date
        function createDisbursementDate() {
            cboDisbursementDate = new wijmo.input.InputDate('#disbursementDate', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                mask: '99-99-9999',
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("disbursementDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();
                }
            });

            var dateValue = cboDisbursementDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("disbursementDateString").innerHTML = month + " " + cboDisbursementDate.value.getDate() + ", " + cboDisbursementDate.value.getFullYear();

            cboDisbursementBranch = new wijmo.input.ComboBox('#disbursementBranch');
            getBranch();
        }

        // get branch
        function getBranch() {
            var branchArray = new Array();
            $.ajax({
                url: '/api/branch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (branchResults) {
                    var disabled = true;
                    if (branchResults.length > 0) {
                        for (i = 0; i < branchResults.length; i++) {
                            branchArray.push({
                                Id: branchResults[i]["Id"],
                                Branch: branchResults[i]["Branch"],
                            });
                        }

                        disabled = false;

                        cboDisbursementAccount = new wijmo.input.ComboBox('#disbursementAccount');
                        getAccount();
                    } else {
                        cboDisbursementAccount = new wijmo.input.ComboBox('#disbursementAccount');
                        getAccount();
                    }

                    cboDisbursementBranch.dispose();
                    cboDisbursementBranch = new wijmo.input.ComboBox('#disbursementBranch', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: branchArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "Branch",
                        selectedValuePath: "Branch"
                    });
                }
            });
        }

        // get account
        function getAccount() {
            var accountArray = new Array();
            $.ajax({
                url: '/api/account/listAccountTransactionTypeId/3',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (accountResults) {
                    var disabled = true;
                    if (accountResults.length > 0) {
                        for (i = 0; i < accountResults.length; i++) {
                            accountArray.push({
                                Id: accountResults[i]["Id"],
                                Account: accountResults[i]["Account"],
                            });
                        }

                        disabled = false;

                        cboDisbursementPreparedBy = new wijmo.input.ComboBox('#disbursementPreparedBy');
                        cboDisbursementVerifiedBy = new wijmo.input.ComboBox('#disbursementVerifiedBy');
                        getUser();
                    } else {
                        cboDisbursementPreparedBy = new wijmo.input.ComboBox('#disbursementPreparedBy');
                        cboDisbursementVerifiedBy = new wijmo.input.ComboBox('#disbursementVerifiedBy');
                        getUser();
                    }

                    cboDisbursementAccount.dispose();
                    cboDisbursementAccount = new wijmo.input.ComboBox('#disbursementAccount', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: accountArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "Account",
                        selectedValuePath: "Account"
                    });
                }
            });
        }

        // get users
        function getUser() {
            var userArray = new Array();
            $.ajax({
                url: '/api/user/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (userrResults) {
                    var disabled = true;
                    if (userrResults.length > 0) {
                        for (i = 0; i < userrResults.length; i++) {
                            userArray.push({
                                Id: userrResults[i]["Id"],
                                FullName: userrResults[i]["FullName"],
                            });
                        }

                        disabled = false;
                    }

                    cboDisbursementPreparedBy.dispose();
                    cboDisbursementPreparedBy = new wijmo.input.ComboBox('#disbursementPreparedBy', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: userArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "FullName",
                        selectedValuePath: "FullName"
                    });

                    cboDisbursementVerifiedBy.dispose();
                    cboDisbursementVerifiedBy = new wijmo.input.ComboBox('#disbursementVerifiedBy', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: userArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "FullName",
                        selectedValuePath: "FullName"
                    });

                    getDisbursementById();
                }
            });
        }

        // get disbursement by id
        function getDisbursementById() {
            $.ajax({
                url: '/api/disbursement/getById/' + getUrlParameter("id"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (disbursementResult) {
                    if (disbursementResult != null) {
                        document.getElementById("disbursementNumber").disabled = true;
                        document.getElementById("disbursementNumber").value = disbursementResult.DisbursementNumber;
                        cboDisbursementDate.value = new Date(disbursementResult.DisbursementDate);
                        cboDisbursementBranch.selectedValue = disbursementResult.Branch;
                        cboDisbursementAccount.selectedValue = disbursementResult.Account;
                        document.getElementById("disbursementPayee").value = disbursementResult.Payee;
                        document.getElementById("disbursementParticulars").value = disbursementResult.Particulars;
                        document.getElementById("disbursementAmount").value = disbursementResult.Amount.toLocaleString();
                        cboDisbursementPreparedBy.selectedValue = disbursementResult.PreparedByUser;
                        cboDisbursementVerifiedBy.selectedValue = disbursementResult.VerifiedByUser;
                        document.getElementById('stampCreatedBy').innerHTML = disbursementResult.CreatedByUser;
                        document.getElementById('stampCreatedDate').innerHTML = disbursementResult.CreatedDateTime;
                        document.getElementById('stampUpdatedBy').innerHTML = disbursementResult.UpdatedByUser;
                        document.getElementById('stampUpdatedDate').innerHTML = disbursementResult.UpdatedDateTime;

                        if (disbursementResult.IsLocked) {
                            $("#btnLock").prop("disabled", true);
                            $("#btnLockButtom").prop("disabled", true);

                            cboDisbursementDate.disabled = true;
                            cboDisbursementBranch.disabled = true;
                            cboDisbursementAccount.disabled = true;
                            cboDisbursementPreparedBy.disabled = true;
                            cboDisbursementVerifiedBy.disabled = true;
                            document.getElementById("disbursementPayee").disabled = true;
                            document.getElementById("disbursementParticulars").disabled = true;
                            document.getElementById("disbursementAmount").disabled = true;

                            isLocked = true;
                        } else {
                            $("#btnUnlock").prop("disabled", true);
                            $("#btnPrint").prop("disabled", true);
                            $("#btnUnlockButtom").prop("disabled", true);
                            $("#btnPrintButtom").prop("disabled", true);
                        }
                    } else {
                        alert("The record you'd requested has no data");
                        window.history.back();
                    }

                    NProgress.done();
                }
            });
        }

        // form input validation
        function inputValidationForDisbursement() {
            var isValid = true;
            $('.requiredDisbursement').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            return isValid;
        }

        // lock loan
        function btnLockOnClick() {
            if (inputValidationForDisbursement()) {
                $("#btnLock").prop("disabled", true);
                $("#btnLockButtom").prop("disabled", true);
                document.getElementById("btnLock").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Locking";
                document.getElementById("btnLockButtom").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Locking";
                $("#btnClose").prop("disabled", true);
                $("#btnCloseButtom").prop("disabled", true);

                var disbursementObject = new Object();
                disbursementObject.DisbursementDate = cboDisbursementDate.value;
                disbursementObject.BranchId = cboDisbursementBranch.selectedItem["Id"];
                disbursementObject.AccountId = cboDisbursementAccount.selectedItem["Id"];
                disbursementObject.Payee = document.getElementById("disbursementPayee").value;
                disbursementObject.Particulars = document.getElementById("disbursementParticulars").value;
                disbursementObject.Amount = document.getElementById("disbursementAmount").value;
                disbursementObject.PreparedByUserId = cboDisbursementPreparedBy.selectedItem["Id"];
                disbursementObject.VerifiedByUserId = cboDisbursementVerifiedBy.selectedItem["Id"];
                var disbursementData = JSON.stringify(disbursementObject);

                $.ajax({
                    type: "PUT",
                    url: '/api/disbursement/lock/' + getUrlParameter("id"),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: disbursementData,
                    statusCode: {
                        200: function () {
                            toastr.success("Reloading the page", "Lock Successful");
                            window.setTimeout(function () {
                                location.reload();
                            }, 1500);
                        },
                        404: function () {
                            toastr.error("Not Found");
                            $("#btnLock").prop("disabled", false);
                            $("#btnLockButtom").prop("disabled", false);
                            document.getElementById("btnLock").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";
                            document.getElementById("btnLockButtom").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Lock";
                            $("#btnClose").prop("disabled", false);
                            $("#btnCloseButtom").prop("disabled", false);
                        },
                        400: function () {
                            toastr.error("Bad Request");
                            $("#btnLock").prop("disabled", false);
                            $("#btnLockButtom").prop("disabled", false);
                            document.getElementById("btnLock").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";
                            document.getElementById("btnLockButtom").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Lock";
                            $("#btnClose").prop("disabled", false);
                            $("#btnCloseButtom").prop("disabled", false);
                        }
                    }
                });
            } else {
                toastr.error("Invalid Entry");
            }
        }

        // unlock loan
        function btnUnlockOnClick() {
            $("#btnUnlock").prop("disabled", true);
            $("#btnPrint").prop("disabled", true);
            $("#btnUnlockButtom").prop("disabled", true);
            $("#btnPrintButtom").prop("disabled", true);
            $("#btnClose").prop("disabled", true);
            $("#btnCloseButtom").prop("disabled", true);
            document.getElementById("btnUnlock").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Unlocking";
            document.getElementById("btnUnlockButtom").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Unlocking";

            $.ajax({
                type: "PUT",
                url: '/api/disbursement/unlock/' + getUrlParameter("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Reloading the page", "Unlock Successful");
                        window.setTimeout(function () {
                            location.reload();
                        }, 1500);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        $("#btnUnlock").prop("disabled", false);
                        $("#btnPrint").prop("disabled", false);
                        $("#btnUnlockButtom").prop("disabled", false);
                        $("#btnPrintButtom").prop("disabled", false);
                        $("#btnClose").prop("disabled", false);
                        $("#btnCloseButtom").prop("disabled", true);
                        document.getElementById("btnUnlock").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Unlock";
                        document.getElementById("btnUnlockButtom").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Unlock";
                    },
                    400: function () {
                        toastr.error("Bad Request");
                        $("#btnLock").prop("disabled", false);
                        $("#btnLockButtom").prop("disabled", false);
                        document.getElementById("btnLock").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";
                        document.getElementById("btnLockButtom").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Lock";
                        $("#btnClose").prop("disabled", false);
                        $("#btnCloseButtom").prop("disabled", false);
                    }
                }
            });
        }

        // print
        function btnPrintOnClick() {
            $("#btnPrint").prop("disabled", true);
            $("#btnPrintButtom").prop("disabled", true);
            document.getElementById("btnPrint").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Generating PDF File";
            document.getElementById("btnPrintButtom").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Generating PDF File";
            window.location = "/RepDisbursementDetail/disbursementDetail?disbursementId=" + getUrlParameter("id");
        }

        // on load page
        window.onload = function () {
            NProgress.start();
            toastrModification();
            createDisbursementDate();
        }
    </script>
</body>
</html>