<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Expenses Report</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            @Html.Partial("SoftwareMenu")
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <h4><i class="fa fa-print fa-fw"></i> Expenses Report</h4>
                            </td>
                            <td align="right">
                                <button class="btn btn-danger" id="btnClose" onclick="window.location = '/Software'">
                                    <i class="fa fa-close fa-fw"></i> Close
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a data-toggle="pill" href="#expensesSummaryReport">Expenses Summary Report</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content">
                                <div id="expensesSummaryReport" class="tab-pane fade in active">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Expenses Summary Report
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Start Date</label><br />
                                                <div id="cboExpensesSummaryReportStartDate"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>End Date</label><br />
                                                <div id="cboExpensesSummaryReportEndDate"></div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary"><i class="fa fa-eye fa-fw"></i> View</button>
                                            <button class="btn btn-primary"><i class="fa fa-print fa-fw"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var newDate = new Date();
        var defaultDate = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var cboExpensesSummaryReportStartDate;
        var cboExpensesSummaryReportEndDate;
        var cboExpensesSummaryReportStartDateDefaultValue = defaultDate;
        var cboExpensesSummaryReportEndDateDefaultValue = defaultDate;

        // cbo start date expenses summary report
        function createCboExpensesSummaryReportStartDate() {
            cboExpensesSummaryReportStartDate.dispose();
            cboExpensesSummaryReportStartDate = new wijmo.input.InputDate('#cboExpensesSummaryReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(cboExpensesSummaryReportStartDateDefaultValue),
                mask: '99-99-9999',
                max: new Date(cboExpensesSummaryReportEndDateDefaultValue),
                onValueChanged: function () {
                    cboExpensesSummaryReportStartDateDefaultValue = this.value.toLocaleDateString();
                    setTimeout(function () {
                        createCboExpensesSummaryReportEndDate();
                    }, 50);
                }
            });
        }

        // cbo end date loan expenses report
        function createCboExpensesSummaryReportEndDate() {
            cboExpensesSummaryReportEndDate.dispose();
            cboExpensesSummaryReportEndDate = new wijmo.input.InputDate('#cboExpensesSummaryReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(cboExpensesSummaryReportEndDateDefaultValue),
                mask: '99-99-9999',
                min: new Date(cboExpensesSummaryReportStartDateDefaultValue),
                onValueChanged: function () {
                    cboExpensesSummaryReportEndDateDefaultValue = this.value.toLocaleDateString();
                    setTimeout(function () {
                        createCboExpensesSummaryReportStartDate();
                    }, 50);
                }
            });
        }

        // on load page
        window.onload = function () {
            cboExpensesSummaryReportStartDate = new wijmo.input.InputDate('#cboExpensesSummaryReportStartDate');
            createCboExpensesSummaryReportStartDate();
            cboExpensesSummaryReportEndDate = new wijmo.input.InputDate('#cboExpensesSummaryReportEndDate');
            createCboExpensesSummaryReportEndDate();

            var canPerformActions = "@ViewData["CanPerformActions"]";
            if (canPerformActions == 1) {
                $('#btnClose').prop('disabled', false);
            } else {
                $(':button').prop('disabled', true);
                $('#btnClose').prop('disabled', false);
                getUserRightsMessageError();
            }
        }
    </script>
</body>
</html>