<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Page Forbidden</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <center>
                <h1 style="color: #ffdb00"><i class="fa fa-hand-stop-o fa-5x fa-fw"></i></h1>
                <br />
                <h1>Page Forbidden</h1>
                <br />
                <p>Sorry. You have no rights to access this page.</p> <br />
                <p>Please ask permission from the admin or from the user that has full access of the system.</p>
            </center>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>