<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Software</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            @Html.Partial("SoftwareMenu")
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Start</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/Software/ApplicantList" class="btn btn-success btn-lg btn-block">
                                <i class="fa fa-users fa-2x fa-fw"></i>
                                <br /><br />
                                Applicant
                            </a>
                            <br />
                            <a href="/Software/AreaList" class="btn btn-success btn-lg btn-block">
                                <i class="fa fa-map-pin fa-2x fa-fw"></i>
                                <br /><br />
                                Area
                            </a>
                            <br />
                            <a href="/Software/StaffList" class="btn btn-success btn-lg btn-block">
                                <i class="fa fa-user fa-2x fa-fw"></i>
                                <br /><br />
                                Staff
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/Software/LoanApplicationList" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-file-text-o fa-2x fa-fw"></i>
                                <br /><br />
                                Loan Application
                            </a>
                            <br />
                            <a href="/Software/CollectionList" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-money fa-2x fa-fw"></i>
                                <br /><br />
                                Collection
                            </a>
                            <br />
                            <a href="/Software/ExpensesList" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-credit-card fa-2x fa-fw"></i>
                                <br /><br />
                                Expenses
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/Software/LoanReport" class="btn btn-danger btn-lg btn-block">
                                <i class="fa fa-print fa-2x fa-fw"></i>
                                <br /><br />
                                Loan Report
                            </a>
                            <br />
                            <a href="/Software/CollectionReport" class="btn btn-danger btn-lg btn-block">
                                <i class="fa fa-print fa-2x fa-fw"></i>
                                <br /><br />
                                Collection Report
                            </a>
                            <br />
                            <a href="/Software/ExpensesReport" class="btn btn-danger btn-lg btn-block">
                                <i class="fa fa-print fa-2x fa-fw"></i>
                                <br /><br />
                                Expenses Report
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/Software/UserList" class="btn btn-warning btn-lg btn-block">
                                <i class="fa fa-key fa-2x fa-fw"></i>
                                <br /><br />
                                Users
                            </a>
                            <br />
                            <a href="/Software/CompanyList" class="btn btn-warning btn-lg btn-block">
                                <i class="fa fa-building fa-2x fa-fw"></i>
                                <br /><br />
                                Company
                            </a>
                            <br />
                            <a href="/Software/SystemTables" class="btn btn-warning btn-lg btn-block">
                                <i class="fa fa-table fa-2x fa-fw"></i>
                                <br /><br />
                                System Tables
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // on load page
        window.onload = function () {
            NProgress.start();
            var canPerformActions = "@ViewData["CanPerformActions"]";
            if (canPerformActions == 1) {
                $(':button').prop('disabled', false);
                NProgress.done();
            } else {
                $(':button').prop('disabled', true);
                NProgress.done();
                getUserRightsMessageError();
            }
        }
    </script>
</body>
</html>