<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>DLH - Software</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Dashboard Start Menu</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/Software/ApplicantList" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-users fa-4x fa-fw"></i>
                                <br /><br />
                                Applicant
                            </a>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <a href="/Software/LoanApplicationList" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-file-text-o fa-4x fa-fw"></i>
                                <br /><br />
                                Loan
                            </a>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <a href="/Software/CollectionList" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-money fa-4x fa-fw"></i>
                                <br /><br />
                                Collection
                            </a>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-credit-card fa-4x fa-fw"></i>
                                <br /><br />
                                Disbursement
                            </a>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <a href="/Software/Tables" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-table fa-4x fa-fw"></i>
                                <br /><br />
                                Tables
                            </a>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <a href="/Software/Reports" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-print fa-4x fa-fw"></i>
                                <br /><br />
                                Reports
                            </a>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/Software/CompanyList" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-building fa-4x fa-fw"></i>
                                <br /><br />
                                Company
                            </a>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-key fa-4x fa-fw"></i>
                                <br /><br />
                                Users
                            </a>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-gears fa-4x fa-fw"></i>
                                <br /><br />
                                Settings
                            </a>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // on load page
        window.onload = function () {
            NProgress.start();
            NProgress.done();
        }
    </script>
</body>
</html>