<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Software</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="/Software" class="btn btn-info">
                        Dashboard
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Set Ups <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/ApplicantList"><i class="fa fa-users fa-fw"></i> Applicants</a></li>
                        <li><a href="/Software/Tables"><i class="fa fa-table fa-fw"></i> Tables</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Activities <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanApplicationList"><i class="fa fa-file-text-o fa-fw"></i> Loan Application</a></li>
                        <li><a href="/Software/CollectionList"><i class="fa fa-money fa-fw"></i> Collection</a></li>
                        <li class="divider"></li>
                        <li><a href="/Software/ExpensesList"><i class="fa fa-credit-card fa-fw"></i> Expenses</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Reports <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/Reports"><i class="fa fa-print fa-fw"></i> Generate Reports</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        System <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/UserList"><i class="fa fa-key fa-fw"></i> Users</a></li>
                        <li><a href="/Software/CompanyList"><i class="fa fa-building fa-fw"></i> Company</a></li>
                        <li class="divider"></li>
                        <li><a href="/Manage/Index"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
                    </ul>
                </div>
            </div>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Start</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Set ups
                                </div>
                                <div class="panel-body">
                                    <a href="/Software/ApplicantList" class="btn btn-success btn-lg btn-block">
                                        <i class="fa fa-users fa-2x fa-fw"></i>
                                        <br />
                                        Applicant
                                    </a>
                                    <br />
                                    <a href="" class="btn btn-success btn-lg btn-block">
                                        <i class="fa fa-map-pin fa-2x fa-fw"></i>
                                        <br />
                                        Area
                                    </a>
                                    <br />
                                    <a href="" class="btn btn-success btn-lg btn-block">
                                        <i class="fa fa-user fa-2x fa-fw"></i>
                                        <br />
                                        Staff
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Activities / Transactions
                                </div>
                                <div class="panel-body">
                                    <a href="/Software/LoanApplicationList" class="btn btn-primary btn-lg btn-block">
                                        <i class="fa fa-file-text-o fa-2x fa-fw"></i>
                                        <br />
                                        Loan
                                    </a>
                                    <br />
                                    <a href="/Software/CollectionList" class="btn btn-primary btn-lg btn-block">
                                        <i class="fa fa-money fa-2x fa-fw"></i>
                                        <br />
                                        Collection
                                    </a>
                                    <br />
                                    <a href="/Software/ExpensesList" class="btn btn-primary btn-lg btn-block">
                                        <i class="fa fa-credit-card fa-2x fa-fw"></i>
                                        <br />
                                        Expenses
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Reports
                                </div>
                                <div class="panel-body">
                                    <a href="/Software/Reports" class="btn btn-danger btn-lg btn-block">
                                        <i class="fa fa-print fa-2x fa-fw"></i>
                                        <br />
                                        Loan Report
                                    </a>
                                    <br />
                                    <a href="/Software/Reports" class="btn btn-danger btn-lg btn-block">
                                        <i class="fa fa-print fa-2x fa-fw"></i>
                                        <br />
                                        Collection Report
                                    </a>
                                    <br />
                                    <a href="/Software/Reports" class="btn btn-danger btn-lg btn-block">
                                        <i class="fa fa-print fa-2x fa-fw"></i>
                                        <br />
                                        Expenses Report
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    System
                                </div>
                                <div class="panel-body">
                                    <a href="/Software/UserList" class="btn btn-warning btn-lg btn-block">
                                        <i class="fa fa-key fa-2x fa-fw"></i>
                                        <br />
                                        Users
                                    </a>
                                    <br />
                                    <a href="/Software/CompanyList" class="btn btn-warning btn-lg btn-block">
                                        <i class="fa fa-building fa-2x fa-fw"></i>
                                        <br />
                                        Company
                                    </a>
                                    <br />
                                    <a href="/Software/Tables" class="btn btn-warning btn-lg btn-block">
                                        <i class="fa fa-table fa-2x fa-fw"></i>
                                        <br />
                                        System Tables
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // on load page
        window.onload = function () {
            NProgress.start();
            NProgress.done();
        }
    </script>
</body>
</html>