<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Software</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">        
        <!-- Header -->
        @Html.Partial("SoftwareHeader")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="">
                            <i class="fa fa-dashboard fa-fw"></i>  Dashboard <small>Main Menu</small>
                        </h3>
                        <ol class="breadcrumb">
                            <li class="active">
                                Dashboard
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Main Menu
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/Software/StaffList" class="btn btn-success btn-lg btn-block">
                                    <i class="fa fa-user fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    Staff
                                </a>
                                <br />
                                <a href="/Software/AreaList" class="btn btn-success btn-lg btn-block">
                                    <i class="fa fa-map-marker fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    Area
                                </a>
                                <br />
                                <a href="/Software/ApplicantList" class="btn btn-success btn-lg btn-block">
                                    <i class="fa fa-users fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    Applicant
                                </a>
                                <br />
                            </div>
                            <div class="col-md-3">
                                <a href="/Software/LoanApplicationList" class="btn btn-primary btn-lg btn-block">
                                    <i class="fa fa-file-text-o fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    Loan Application
                                </a>
                                <br />
                                <a href="/Software/CollectionList" class="btn btn-primary btn-lg btn-block">
                                    <i class="fa fa-money fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    Collection
                                </a>
                                <br />
                                <a href="/Software/ExpensesList" class="btn btn-primary btn-lg btn-block">
                                    <i class="fa fa-credit-card fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    Expenses
                                </a>
                                <br />
                            </div>
                            <div class="col-md-3">
                                <a href="/Software/CompanyList" class="btn btn-warning btn-lg btn-block">
                                    <i class="fa fa-building fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    Company
                                </a>
                                <br />
                                <a href="/Software/UserList" class="btn btn-warning btn-lg btn-block">
                                    <i class="fa fa-key fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    User
                                </a>
                                <br />
                                <a href="/Software/SystemTables" class="btn btn-warning btn-lg btn-block">
                                    <i class="fa fa-table fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    System Tables
                                </a>
                                <br />
                            </div>
                            <div class="col-md-3">
                                <a href="/Software/Reports" class="btn btn-danger btn-lg btn-block">
                                    <i class="fa fa-print fa-3x fa-fw" style="margin-bottom: 10px;"></i>
                                    <br />
                                    Reports
                                </a>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // on load page
        window.onload = function () {
            NProgress.start();
            var canPerformActions = "@ViewData["CanPerformActions"]";
            if (canPerformActions == 1) {
                $(':button').prop('disabled', false);
                NProgress.done();
            } else {
                $(':button').prop('disabled', true);
                NProgress.done();
                getUserRightsMessageError();
            }
        }
    </script>
</body>
</html>