<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Loan Report</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="/Software" class="btn btn-info">
                        Dashboard
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Set Ups <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/ApplicantList"><i class="fa fa-users fa-fw"></i> Applicants</a></li>
                        <li><a href="/Software/AreaList"><i class="fa fa-map-pin fa-fw"></i> Area</a></li>
                        <li><a href="/Software/StaffList"><i class="fa fa-user fa-fw"></i> Staff</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Activities <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanApplicationList"><i class="fa fa-file-text-o fa-fw"></i> Loan Application</a></li>
                        <li><a href="/Software/CollectionList"><i class="fa fa-money fa-fw"></i> Collection</a></li>
                        <li><a href="/Software/ExpensesList"><i class="fa fa-credit-card fa-fw"></i> Expenses</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Reports <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanReport"><i class="fa fa-print fa-fw"></i> Loan Report</a></li>
                        <li><a href="/Software/CollectionReport"><i class="fa fa-print fa-fw"></i> Collection Report</a></li>
                        <li><a href="/Software/ExpensesReport"><i class="fa fa-print fa-fw"></i> Expenses Report</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        System <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/UserList"><i class="fa fa-key fa-fw"></i> Users</a></li>
                        <li><a href="/Software/CompanyList"><i class="fa fa-building fa-fw"></i> Company</a></li>
                        <li><a href="/Software/SystemTables"><i class="fa fa-table fa-fw"></i> System Tables</a></li>
                    </ul>
                </div>
            </div>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-print fa-fw"></i> Loan Report</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a data-toggle="pill" href="#loanSummaryReport">Loan Summary Report</a></li>
                                <li><a data-toggle="pill" href="#loanDetailReport">Loan Detail Report</a></li>
                                <li><a data-toggle="pill" href="#dailyReleaseMonitoringSummary">Daily Release Monitoring Summary Report</a></li>
                                <li><a data-toggle="pill" href="#dailyReleaseMonitoringDetail">Daily Release Monitoring Detail Report</a></li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <div class="tab-content">
                                <div id="loanSummaryReport" class="tab-pane fade in active">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Loan Summary Report
                                        </div>
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary"><i class="fa fa-eye fa-fw"></i> View</button>
                                            <button class="btn btn-primary"><i class="fa fa-print fa-fw"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="loanDetailReport" class="tab-pane fade">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Loan Detail Report
                                        </div>
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary"><i class="fa fa-eye fa-fw"></i> View</button>
                                            <button class="btn btn-primary"><i class="fa fa-print fa-fw"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="dailyReleaseMonitoringSummary" class="tab-pane fade">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Daily Release Monitoring Summary Report
                                        </div>
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary"><i class="fa fa-eye fa-fw"></i> View</button>
                                            <button class="btn btn-primary"><i class="fa fa-print fa-fw"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="dailyReleaseMonitoringDetail" class="tab-pane fade">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Daily Release Monitoring Detail Report
                                        </div>
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary"><i class="fa fa-eye fa-fw"></i> View</button>
                                            <button class="btn btn-primary"><i class="fa fa-print fa-fw"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>