<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Reconstruct List</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        <!-- Header -->
        @Html.Partial("SoftwareHeader")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="">
                            <i class="fa fa-file-text-o fa-fw"></i> Reconstruct <small>List of Reconstructed Loans</small>
                        </h3>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/Software">Dashboard</a>
                            </li>
                            <li class="active">
                                Reconstruct
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                        <input type="text" id="searchLoanApplication" class="form-control" placeholder="Search">
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td align="right">
                                    <button class="btn btn-primary" id="btnAddLoanApplication" onclick="btnAddLoanApplicationOnclick()">
                                        <i class="fa fa-plus fa-fw"></i>&nbsp; Add
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table border="0">
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> Start Reconstruct Date</span>
                                        <div id="cboReconstructDate"></div>
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> End Reconstruct Date</span>
                                        <div id="cboReconstructEndDate"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="reconstructFlexGrid" class="grid"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="naviagtionPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span> First
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span> Previous
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span> Next
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span> Last
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User security stamp
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Created by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-6">
                                <p>Updated by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- delete confirmation loan application modal -->
    <div class="modal fade" id="deleteConfirmationReconstructModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Reconstruct</h4>
                </div>
                <div class="modal-body">
                    Delete?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btnConfirmDeleteReconstruct" onclick="btnConfirmDeleteReconstructOnclick()">Delete</button>
                    <button class="btn btn-default" id="btnCloseDeleteReconstructModal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- loan applciation recontruct Detail Modal -->
    <div class="modal fade" id="reconstructDetailModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reconstruct</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Applicant</label>
                            <div class="col-sm-8">
                                <div id="cboApplicant" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Doc. Number</label>
                            <div class="col-sm-8">
                                <div id="cboLoanNumber" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Balance</label>
                            <div class="col-sm-8">
                                <div class="input-group numberField">
                                    <span class="input-group-addon">&#8369;</span>
                                    <input type="text" class="form-control numberField" id="amountToBeReconstruct" placeholder="0.00" disabled />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btnReconstruct" onclick="btnReconstructOnclick()"><i class="fa fa-refresh fa-fw"></i> Reconstruct</button>
                    <button class="btn btn-danger" id="btnCloseReconstruct" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- loan applciation recontruct Detail Modal -->
    <div class="modal fade" id="reconstructDetailOverDueModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Overdue Applicants</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Applicant</label>
                            <div class="col-sm-8">
                                <div id="cboOverApplicant" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Date or Year</label>
                            <div class="col-sm-8">
                                <div id="cboOverdueYear" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Balance</label>
                            <div class="col-sm-8">
                                <div class="input-group numberField">
                                    <span class="input-group-addon">&#8369;</span>
                                    <input type="text" class="form-control numberField requiredOverdueAmount requiredOverdueBalanceAmount" id="amountToBeReconstructOverdue" placeholder="0.00" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Particulars</label>
                            <div class="col-sm-8">
                                <textarea class="form-control requiredOverdueAmount" rows="7" id="overdueParticulars" placeholder="Particulars"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btnReconstructOverdue" onclick="btnReconstructOverdueOnclick()"><i class="fa fa-refresh fa-fw"></i> Reconstruct</button>
                    <button class="btn btn-danger" id="btnCloseReconstructOverdue" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var cboReconstructDate;
        var cboReconstructEndDate;
        var loanApplicationCollectionView;
        var reconstructFlexGrid;
        var btnFirstPageGrid;
        var btnPreviousPageGrid;
        var btnNextPageGrid;
        var btnLastPageGrid;
        var btnCurrentPageGrid;
        var isLoanDateClicked = false;
        var isEndLoanDateClicked = false;
        var cboApplicant;
        var cboLoanNumber;
        var cboOverdueYear;

        //var date = new Date(), y = date.getFullYear(), m = date.getMonth();
        //var firstDay = new Date(y, m, 1);
        //var lastDay = new Date(y, m + 1, 0);

        var date = new Date();
        var y = date.getFullYear();
        var fm = date.getMonth() - 1;
        var m = date.getMonth();
        var firstDay = new Date(y, fm, 1);
        var lastDay = new Date(y, m + 1, 0);

        // reconstuct
        function btnAddReconstructOnclick() {
            $("#reconstructDetailModal").modal({
                "show": true,
                "backdrop": "static"
            });

            getApplicant();
        }

        function btnAddOverdueApplicant() {
            $("#reconstructDetailOverDueModal").modal({
                "show": true,
                "backdrop": "static"
            });

            $('.requiredOverdueAmount').each(function () {
                $(this).css({
                    "border": "",
                });
            });

            cboOverdueYear.value = new Date('01-01-2000');
            document.getElementById("amountToBeReconstructOverdue").value = 0;

            getApplicantOverdue();
        }

        // get applicant
        function getApplicant() {
            var applicantArray = new Array();
            $.ajax({
                url: '/api/loan/list/loanApplicants/InReconstruct/InRenewal',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (applicantResults) {
                    var disabled = true;
                    if (applicantResults.length > 0) {
                        for (i = 0; i < applicantResults.length; i++) {
                            applicantArray.push({
                                ApplicantId: applicantResults[i]["ApplicantId"],
                                Applicant: applicantResults[i]["Applicant"],
                            });
                        }

                        disabled = false;
                    }

                    cboApplicant.dispose();
                    cboApplicant = new wijmo.input.ComboBox('#cboApplicant', {
                        disabled: disabled,
                        itemsSource: applicantArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "Applicant",
                        selectedValuePath: "Applicant",
                        onSelectedIndexChanged: function () {
                            getApplicantLoanNumber();
                        }
                    });

                    getApplicantLoanNumber();
                }
            });
        }


        // get applicant
        function getApplicantOverdue() {
            var applicantArray = new Array();
            $.ajax({
                url: '/api/applicant/list/Applicant',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (applicantResults) {
                    var disabled = true;
                    if (applicantResults.length > 0) {
                        for (i = 0; i < applicantResults.length; i++) {
                            applicantArray.push({
                                Id: applicantResults[i]["Id"],
                                ApplicantFullName: applicantResults[i]["ApplicantFullName"],
                            });
                        }

                        disabled = false;
                    }

                    cboOverApplicant.dispose();
                    cboOverApplicant = new wijmo.input.ComboBox('#cboOverApplicant', {
                        disabled: disabled,
                        itemsSource: applicantArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "ApplicantFullName",
                        selectedValuePath: "ApplicantFullName"
                    });
                }
            });
        }

        // get applicant
        function getApplicantLoanNumber() {
            var applicantLoanNumberArray = new Array();
            $.ajax({
                url: '/api/loan/list/byApplicantId/InReconstruct/InRenewal/' + cboApplicant.selectedItem["ApplicantId"],
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (applicantLoanNumberResults) {
                    var disabled = true;
                    if (applicantLoanNumberResults.length > 0) {
                        for (i = 0; i < applicantLoanNumberResults.length; i++) {
                            applicantLoanNumberArray.push({
                                Id: applicantLoanNumberResults[i]["Id"],
                                LoanNumberDetail: applicantLoanNumberResults[i]["LoanNumberDetail"],
                                TotalBalanceAmount: applicantLoanNumberResults[i]["TotalBalanceAmount"],
                                TotalPenaltyAmount: applicantLoanNumberResults[i]["TotalPenaltyAmount"]
                            });
                        }

                        disabled = false;
                    }

                    cboLoanNumber.dispose();
                    cboLoanNumber = new wijmo.input.ComboBox('#cboLoanNumber', {
                        disabled: disabled,
                        itemsSource: applicantLoanNumberArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "LoanNumberDetail",
                        selectedValuePath: "LoanNumberDetail",
                        onSelectedIndexChanged: function () {
                            document.getElementById("amountToBeReconstruct").value = this.selectedItem["TotalBalanceAmount"].toLocaleString();
                        }
                    });

                    document.getElementById("amountToBeReconstruct").value = cboLoanNumber.selectedItem["TotalBalanceAmount"].toLocaleString();
                }
            });
        }

        // create cbo date for loan date
        function createCboLoanDate() {
            cboOverdueYear.dispose();
            cboOverdueYear = new wijmo.input.InputDate('#cboOverdueYear', {
                format: 'MM-dd-yyyy',
                value: new Date('01-01-2000'),
                mask: '99-99-9999',
            });

            cboReconstructDate.dispose();
            cboReconstructDate = new wijmo.input.InputDate('#cboReconstructDate', {
                format: 'MM-dd-yyyy',
                value: new Date(firstDay),
                mask: '99-99-9999',
                onValueChanged: function () {
                    NProgress.start();

                    loanApplicationCollectionView = new wijmo.collections.CollectionView(getLoanApplicationList());
                    loanApplicationCollectionView.canFilter = true;
                    loanApplicationCollectionView.pageSize = 15;

                    var filterText = '';
                    $('#searchLoanApplication').keyup(function () {
                        filterText = this.value.toLowerCase();
                        loanApplicationCollectionView.refresh();
                    });

                    loanApplicationCollectionView.filter = function (item) {
                        return !filterText || (item.LoanNumber.toLowerCase().indexOf(filterText) > -1)
                                           || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                           || (item.Particulars.toLowerCase().indexOf(filterText) > -1);
                    }

                    loanApplicationCollectionView.collectionChanged.addHandler(function (sender, args) {
                        updateNavigateButtons();
                    });

                    loanApplicationCollectionView.currentChanged.addHandler(function (sender, args) {
                        updateStampSecurity();
                    });

                    // Flex Grid
                    reconstructFlexGrid.itemsSource = loanApplicationCollectionView;
                    reconstructFlexGrid.trackChanges = true;
                }
            });
        }


        // create cbo date for loan date
        function createCboLoanEndDate() {
            cboReconstructEndDate.dispose();
            cboReconstructEndDate = new wijmo.input.InputDate('#cboReconstructEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(lastDay),
                mask: '99-99-9999',
                onValueChanged: function () {
                    NProgress.start();

                    loanApplicationCollectionView = new wijmo.collections.CollectionView(getLoanApplicationList());
                    loanApplicationCollectionView.canFilter = true;
                    loanApplicationCollectionView.pageSize = 15;

                    var filterText = '';
                    $('#searchLoanApplication').keyup(function () {
                        filterText = this.value.toLowerCase();
                        loanApplicationCollectionView.refresh();
                    });

                    loanApplicationCollectionView.filter = function (item) {
                        return !filterText || (item.LoanNumber.toLowerCase().indexOf(filterText) > -1)
                                           || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                           || (item.Particulars.toLowerCase().indexOf(filterText) > -1);
                    }

                    loanApplicationCollectionView.collectionChanged.addHandler(function (sender, args) {
                        updateNavigateButtons();
                    });

                    loanApplicationCollectionView.currentChanged.addHandler(function (sender, args) {
                        updateStampSecurity();
                    });

                    // Flex Grid
                    reconstructFlexGrid.itemsSource = loanApplicationCollectionView;
                    reconstructFlexGrid.trackChanges = true;
                }
            });
        }


        // get loan application list
        function getLoanApplicationList() {
            var loanApplicationListArray = new wijmo.collections.ObservableArray;
            var startDate = [cboReconstructDate.value.getMonth() + 1, cboReconstructDate.value.getDate(), cboReconstructDate.value.getFullYear()].join('-');
            var endDate = [cboReconstructEndDate.value.getMonth() + 1, cboReconstructEndDate.value.getDate(), cboReconstructEndDate.value.getFullYear()].join('-');
            $.ajax({
                url: '/api/reconstruct/listByLoanDate/' + startDate + '/' + endDate,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (loanApplicationListResult) {
                    if (loanApplicationListResult.length > 0) {
                        for (i = 0; i < loanApplicationListResult.length; i++) {
                            var isLocked = false;
                            if (loanApplicationListResult[i]["IsLocked"]) {
                                isLocked = true;
                            }

                            var disabledButton = "disabled";
                            var canPerformActions = "@ViewData["CanPerformActions"]";
                            if (canPerformActions == 1) {
                                disabledButton = "";
                            }

                            var newDate = new Date(loanApplicationListResult[i]["LoanDate"]);
                            var loanDateValue = ('0' + (newDate.getMonth() + 1)).slice(-2) + '-' + ('0' + newDate.getDate()).slice(-2) + '-' + newDate.getFullYear();

                            var newMaturityDate = new Date(loanApplicationListResult[i]["MaturityDate"]);
                            var maturityDateValue = ('0' + (newMaturityDate.getMonth() + 1)).slice(-2) + '-' + ('0' + newMaturityDate.getDate()).slice(-2) + '-' + newMaturityDate.getFullYear();

                            loanApplicationListArray.push({
                                EditButton: "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditLoanApplicationOnclick()'" + disabledButton + "><i class='fa fa-edit fa-fw'></i> Edit</button>",
                                DeleteButton: "<button class='btn btn-danger btn-xs btn-block'  onclick='btnDeleteLoanApplicationOnclick(" + isLocked + ")'" + disabledButton + "><i class='fa fa-trash fa-fw'></i> Delete</button>",
                                Id: loanApplicationListResult[i]["Id"],
                                LoanNumber: "RC-" + loanApplicationListResult[i]["LoanNumber"],
                                LoanDate: loanDateValue,
                                MaturityDate: maturityDateValue,
                                Applicant: loanApplicationListResult[i]["Applicant"],
                                Particulars: loanApplicationListResult[i]["Particulars"],
                                PrincipalAmount: loanApplicationListResult[i]["PrincipalAmount"],
                                InterestAmount: loanApplicationListResult[i]["InterestAmount"],
                                DeductionAmount: loanApplicationListResult[i]["DeductionAmount"],
                                NetAmount: loanApplicationListResult[i]["NetAmount"],
                                NetCollectionAmount: loanApplicationListResult[i]["NetCollectionAmount"],
                                CollectibleAmount: loanApplicationListResult[i]["CollectibleAmount"],
                                TotalPaidAmount: loanApplicationListResult[i]["TotalPaidAmount"],
                                TotalPenaltyAmount: loanApplicationListResult[i]["TotalPenaltyAmount"],
                                TotalBalanceAmount: loanApplicationListResult[i]["TotalBalanceAmount"],
                                IsLocked: loanApplicationListResult[i]["IsLocked"],
                                CreatedByUserId: loanApplicationListResult[i]["CreatedByUserId"],
                                CreatedByUser: loanApplicationListResult[i]["CreatedByUser"],
                                CreatedDateTime: loanApplicationListResult[i]["CreatedDateTime"],
                                UpdatedByUserId: loanApplicationListResult[i]["UpdatedByUserId"],
                                UpdatedByUser: loanApplicationListResult[i]["UpdatedByUser"],
                                UpdatedDateTime: loanApplicationListResult[i]["UpdatedDateTime"],
                            });
                        }
                    }

                    NProgress.done();
                }
            });
            return loanApplicationListArray;
        }

        function btnReconstructOverdueOnclick() {
            var loanReconstuctObject = new Object();
            loanReconstuctObject.ApplicantId = cboOverApplicant.selectedItem["Id"];
            loanReconstuctObject.BalanceAmount = document.getElementById("amountToBeReconstructOverdue").value;
            loanReconstuctObject.Particulars = document.getElementById("overdueParticulars").value;
            loanReconstuctObject.LoanDate = cboOverdueYear.value;
            var loanReconstuctData = JSON.stringify(loanReconstuctObject);

            var isValid = true;
            $('.requiredOverdueAmount').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            if (isValid) {
                var amount = parseFloat(document.getElementById("amountToBeReconstructOverdue").value);
                if (amount == 0) {
                    $('.requiredOverdueBalanceAmount').each(function () {
                        $(this).css({
                            "border": "1px solid red"
                        });
                    });

                    toastr.error("The Amount must not be zero.");
                } else {
                    document.getElementById("btnReconstructOverdue").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Adding";
                    $("#btnReconstructOverdue").prop("disabled", true);
                    $("#btnCloseReconstructOverdue").prop("disabled", true);

                    $.ajax({
                        type: "POST",
                        url: '/api/loanReconstruct/overdue/add',
                        contentType: "application/json; charset=utf-8",
                        data: loanReconstuctData,
                        success: function (id) {
                            if (id > 0) {
                                window.location = '/Software/ReconstructDetail?id=' + id;
                            } else {
                                toastr.error("Bad Request");
                            }
                        }
                    });
                }
            } else {
                toastr.error("Invalid Entry");
            }
        }

        // add new reconstruct
        function btnReconstructOnclick() {
            var totalBalanceAmount = parseFloat(document.getElementById("amountToBeReconstruct").value);

            if (totalBalanceAmount > 0) {
                document.getElementById("btnReconstruct").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Reconstructing";
                $("#btnReconstruct").prop("disabled", true);
                $("#btnCloseReconstruct").prop("disabled", true);

                var loanReconstuctObject = new Object();
                loanReconstuctObject.ApplicantId = cboApplicant.selectedItem["ApplicantId"];
                loanReconstuctObject.ReconstructRenewLoanId = cboLoanNumber.selectedItem["Id"];
                loanReconstuctObject.BalanceAmount = document.getElementById("amountToBeReconstruct").value;
                var loanReconstuctData = JSON.stringify(loanReconstuctObject);

                $.ajax({
                    type: "POST",
                    url: '/api/loanReconstruct/add',
                    contentType: "application/json; charset=utf-8",
                    data: loanReconstuctData,
                    success: function (id) {
                        if (id > 0) {
                            window.location = '/Software/ReconstructDetail?id=' + id;
                        } else {
                            toastr.error("Bad Request");
                        }
                    }
                });
            } else {
                toastr.error("The amount must not be zero.");
            }
        }


        // add new loan application
        function btnAddLoanApplicationOnclick() {
            document.getElementById("btnAddLoanApplication").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Adding";
            $("#btnAddLoanApplication").prop("disabled", true);

            $.ajax({
                type: "POST",
                url: '/api/loan/add/reconstruct',
                contentType: "application/json; charset=utf-8",
                success: function (id) {
                    if (id > 0) {
                        window.location = '/Software/ReconstructDetail?id=' + id;
                    } else {
                        toastr.error("Bad Request");
                    }
                }
            });
        }

        // edit loan application
        function btnEditLoanApplicationOnclick() {
            loanApplicationCollectionView.editItem(loanApplicationCollectionView.currentItem);
            var id = loanApplicationCollectionView.currentEditItem.Id;
            window.location = '/Software/ReconstructDetail?id=' + id;
        }

        // delete loan application
        function btnDeleteLoanApplicationOnclick(isLocked) {
            if (isLocked) {
                toastr.info("Record Locked");
            } else {
                $("#deleteConfirmationReconstructModal").modal({
                    "show": true,
                    "backdrop": "static"
                });

                document.getElementById("btnConfirmDeleteReconstruct").innerHTML = "Delete";
                $("#btnConfirmDeleteReconstruct").prop("disabled", false);
                $("#btnCloseDeleteReconstructModal").prop("disabled", false);
            }
        }
        function btnConfirmDeleteReconstructOnclick() {
            document.getElementById("btnConfirmDeleteReconstruct").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Deleting";
            $("#btnConfirmDeleteReconstruct").prop("disabled", true);
            $("#btnCloseDeleteReconstructModal").prop("disabled", true);

            loanApplicationCollectionView.editItem(loanApplicationCollectionView.currentItem);
            var id = loanApplicationCollectionView.currentEditItem.Id;
            $.ajax({
                url: '/api/loan/delete/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");

                        $('#deleteConfirmationReconstructModal').modal('hide');

                        loanApplicationCollectionView = new wijmo.collections.CollectionView(getLoanApplicationList());
                        loanApplicationCollectionView.canFilter = true;
                        loanApplicationCollectionView.pageSize = 15;

                        var filterText = '';
                        $('#searchLoanApplication').keyup(function () {
                            filterText = this.value.toLowerCase();
                            loanApplicationCollectionView.refresh();
                        });

                        loanApplicationCollectionView.filter = function (item) {
                            return !filterText || (item.LoanNumber.toLowerCase().indexOf(filterText) > -1)
                                               || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                               || (item.Particulars.toLowerCase().indexOf(filterText) > -1);
                        }

                        loanApplicationCollectionView.collectionChanged.addHandler(function (sender, args) {
                            updateNavigateButtons();
                        });

                        loanApplicationCollectionView.currentChanged.addHandler(function (sender, args) {
                            updateStampSecurity();
                        });

                        // Flex Grid
                        reconstructFlexGrid.itemsSource = loanApplicationCollectionView;
                        reconstructFlexGrid.trackChanges = true;
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Not Found");
                        $('#deleteConfirmationReconstructModal').modal('hide');
                        document.getElementById("btnConfirmDeleteReconstruct").innerHTML = "Delete";
                        $("#btnConfirmDeleteReconstruct").prop("disabled", false);
                        $("#btnCloseDeleteReconstructModal").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Bad Request");
                        $('#deleteConfirmationReconstructModal').modal('hide');
                        document.getElementById("btnConfirmDeleteReconstruct").innerHTML = "Delete";
                        $("#btnConfirmDeleteReconstruct").prop("disabled", false);
                        $("#btnCloseDeleteReconstructModal").prop("disabled", false);
                    }
                }
            });
        }

        // stamp security
        function updateStampSecurity() {
            var item = loanApplicationCollectionView.currentItem;
            document.getElementById('stampCreatedBy').innerHTML = item.CreatedByUser;
            document.getElementById('stampCreatedDate').innerHTML = item.CreatedDateTime;
            document.getElementById('stampUpdatedBy').innerHTML = item.UpdatedByUser;
            document.getElementById('stampUpdatedDate').innerHTML = item.UpdatedDateTime;
        }

        // Navigation Buttons for loan application
        function updateNavigateButtons() {
            if (loanApplicationCollectionView.pageSize <= 0) {
                document.getElementById('naviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('naviagtionPageGrid').style.display = 'block';
            btnCurrentPageGrid.innerHTML = (loanApplicationCollectionView.pageIndex + 1) + ' / ' + loanApplicationCollectionView.pageCount;
        }

        // create loan application flexgrid
        function createLoanApplicationFlexGrid() {
            loanApplicationCollectionView = new wijmo.collections.CollectionView(getLoanApplicationList());
            loanApplicationCollectionView.canFilter = true;
            loanApplicationCollectionView.pageSize = 15;

            var filterText = '';
            $('#searchLoanApplication').keyup(function () {
                filterText = this.value.toLowerCase();
                loanApplicationCollectionView.refresh();
            });

            loanApplicationCollectionView.filter = function (item) {
                return !filterText || (item.LoanNumber.toLowerCase().indexOf(filterText) > -1)
                                   || (item.Applicant.toLowerCase().indexOf(filterText) > -1)
                                   || (item.Particulars.toLowerCase().indexOf(filterText) > -1);
            }

            loanApplicationCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtons();
            });

            loanApplicationCollectionView.currentChanged.addHandler(function (sender, args) {
                updateStampSecurity();
            });

            // Flex Grid
            reconstructFlexGrid = new wijmo.grid.FlexGrid('#reconstructFlexGrid');
            reconstructFlexGrid.initialize({
                columns: [
                            {
                                "header": "Edit",
                                "binding": "EditButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": 50,
                            },
                            {
                                "header": "Recon. Date",
                                "binding": "LoanDate",
                                "allowSorting": true,
                                "width": 100,
                            },
                            {
                                "header": "Due Date",
                                "binding": "MaturityDate",
                                "allowSorting": true,
                                "width": 100,
                            },
                            {
                                "header": "Recon. No.",
                                "binding": "LoanNumber",
                                "allowSorting": true,
                                "width": 160,
                            },
                            {
                                "header": "Applicant",
                                "binding": "Applicant",
                                "allowSorting": true,
                                "width": 220,
                            },
                            {
                                "header": "Particulars",
                                "binding": "Particulars",
                                "allowSorting": true,
                                "width": 300,
                            },
                            {
                                "header": "Recon. Amount",
                                "binding": "PrincipalAmount",
                                "allowSorting": true,
                                "width": 160,
                            },
                            {
                                "header": "Interest",
                                "binding": "InterestAmount",
                                "allowSorting": true,
                                "width": 160,
                            },
                            {
                                "header": "Addition",
                                "binding": "DeductionAmount",
                                "allowSorting": true,
                                "width": 160,
                            },
                            {
                                "header": "Net Collection",
                                "binding": "NetCollectionAmount",
                                "allowSorting": true,
                                "width": 160,
                            },
                            {
                                "header": "Collectible",
                                "binding": "CollectibleAmount",
                                "allowSorting": true,
                                "width": 160,
                            },
                            {
                                "header": "Total Paid",
                                "binding": "TotalPaidAmount",
                                "allowSorting": true,
                                "width": 160,
                            },
                            {
                                "header": "Total Penalty",
                                "binding": "TotalPenaltyAmount",
                                "allowSorting": true,
                                "width": 160,
                            },
                            {
                                "header": "Total Balance",
                                "binding": "TotalBalanceAmount",
                                "allowSorting": true,
                                "width": 160,
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: loanApplicationCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            reconstructFlexGrid.trackChanges = true;

            //Navigation button
            btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
            btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
            btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
            btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

            updateNavigateButtons();

            btnFirstPageGrid.addEventListener('click', function () {
                loanApplicationCollectionView.moveToFirstPage();
                updateNavigateButtons();
            });
            btnPreviousPageGrid.addEventListener('click', function () {
                loanApplicationCollectionView.moveToPreviousPage();
                updateNavigateButtons();
            });
            btnNextPageGrid.addEventListener('click', function () {
                loanApplicationCollectionView.moveToNextPage();
                updateNavigateButtons();
            });
            btnLastPageGrid.addEventListener('click', function () {
                loanApplicationCollectionView.moveToLastPage();
                updateNavigateButtons();
            });
        }

        // on load page
        window.onload = function () {
            NProgress.start();
            toastrModification();
            cboOverdueYear = new wijmo.input.InputDate('#cboOverdueYear');
            cboReconstructDate = new wijmo.input.InputDate('#cboReconstructDate');
            createCboLoanDate();
            cboReconstructEndDate = new wijmo.input.InputDate('#cboReconstructEndDate');
            createCboLoanEndDate();
            createLoanApplicationFlexGrid();

            var canPerformActions = "@ViewData["CanPerformActions"]";
            if (canPerformActions == 1) {
                $('#btnClose').prop('disabled', false);
            } else {
                $(':button').prop('disabled', true);
                $('#btnClose').prop('disabled', false);
                getUserRightsMessageError();
            }

            cboApplicant = new wijmo.input.ComboBox('#cboApplicant');
            cboOverApplicant = new wijmo.input.ComboBox('#cboOverApplicant');
            cboLoanNumber = new wijmo.input.ComboBox('#cboLoanNumber')
        }
    </script>
</body>
</html>