<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Reports</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="/Software" class="btn btn-info">
                        Dashboard
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Set Ups <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/ApplicantList"><i class="fa fa-users fa-fw"></i> Applicants</a></li>
                        <li><a href="/Software/Tables"><i class="fa fa-table fa-fw"></i> Tables</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Activities <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/LoanApplicationList"><i class="fa fa-file-text-o fa-fw"></i> Loan Application</a></li>
                        <li><a href="/Software/CollectionList"><i class="fa fa-money fa-fw"></i> Collection</a></li>
                        <li><a href="/Software/DisbursementList"><i class="fa fa-credit-card fa-fw"></i> Disbursement</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        System <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/CompanyList"><i class="fa fa-building fa-fw"></i> Company</a></li>
                        <li><a href="/Software/UserList"><i class="fa fa-key fa-fw"></i> Users</a></li>
                        <li class="divider"></li>
                        <li><a href="/Manage/Index"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Reports <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Software/Reports"><i class="fa fa-print fa-fw"></i> Generate Reports</a></li>
                    </ul>
                </div>
            </div>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Reports</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills nav-stacked" style="background-color: #f7f7f7">
                                <li class="active"><a data-toggle="pill" href="#loanReportPill" id="">Loan Summary Report</a></li>
                                <li><a data-toggle="pill" href="#cashVoucherPill" id="">Cash Voucher</a></li>
                                <li><a data-toggle="pill" href="#collectiblesPill" id="">Collectibles (By Area)</a></li>
                                <li><a data-toggle="pill" href="#dailyReleaseMonitoringPill" id="">Daily Release Monitoring</a></li>
                                <li><a data-toggle="pill" href="#collectionSummaryReportPill" id="">Collection Summary Report</a></li>
                                <li><a data-toggle="pill" href="#collectionDetailReportPill" id="">Collection Detail Report</a></li>
                                <li><a data-toggle="pill" href="#disbursementReportPill" id="">Disbursement Report (Expenses)</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content">
                                <div id="loanReportPill" class="tab-pane fade in active">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td align="right">
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-eye fa-fw"></i> View
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="btnLoanReportPDF" onclick="btnLoanReportPDFOnclick()">
                                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Start Date</label><br />
                                                <div id="cboLoanReportStartDate"></div> &nbsp; <span id="cboLoanReportStartDateString"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>End Date</label><br />
                                                <div id="cboLoanReportEndDate"></div> &nbsp; <span id="cboLoanReportEndDateString"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="cashVoucherPill" class="tab-pane fade in">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td align="right">
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-eye fa-fw"></i> View
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Applicant</label><br />
                                                <div id="cashVoucherReportApplicant"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>Loan Number</label><br />
                                                <div id="cashVoucherReportLoanNumber"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="collectiblesPill" class="tab-pane fade in">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td align="right">
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-eye fa-fw"></i> View
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="btnCollectiblesPDF" onclick="btnCollectiblesPDFOnclick()">
                                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Area</label><br />
                                                <div id="cboCollectiblesReportArea"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>Start Date (Due Date)</label><br />
                                                <div id="cboCollectiblesReportStartDate"></div> &nbsp; <span id="cboCollectiblesReportStartDateString"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dailyReleaseMonitoringPill" class="tab-pane fade in">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td align="right">
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-eye fa-fw"></i> View
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Start Date</label><br />
                                                <div id="cboDailyReleaseMonitoringStartDate"></div> &nbsp; <span id="cboDailyReleaseMonitoringStartDateString"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>End Date</label><br />
                                                <div id="cboDailyReleaseMonitoringEndDate"></div> &nbsp; <span id="cboDailyReleaseMonitoringEndDateString"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="collectionSummaryReportPill" class="tab-pane fade in">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td align="right">
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-eye fa-fw"></i> View
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="btnCollectionSummaryReportPDF" onclick="btnCollectionSummaryReportPDFOnclick()">
                                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Start Date</label><br />
                                                <div id="cboCollectionSummaryReportStartDate"></div> &nbsp; <span id="cboCollectionSummaryReportStartDateString"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>End Date</label><br />
                                                <div id="cboCollectionSummaryReportEndDate"></div> &nbsp; <span id="cboCollectionSummaryReportEndDateString"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="collectionDetailReportPill" class="tab-pane fade in">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td align="right">
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-eye fa-fw"></i> View
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="btnCollectionDetailReportPDF" onclick="btnCollectionDetailReportPDFOnclick()">
                                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Start Date</label><br />
                                                <div id="cboCollectionDetailReportStartDate"></div> &nbsp; <span id="cboCollectionDetailReportStartDateString"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>End Date</label><br />
                                                <div id="cboCollectionDetailReportEndDate"></div> &nbsp; <span id="cboCollectionDetailReportEndDateString"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="disbursementReportPill" class="tab-pane fade in">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td align="right">
                                                        <button class="btn btn-primary btn-sm" id="" onclick="">
                                                            <i class="fa fa-eye fa-fw"></i> View
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="btnDisbursementReportPDF" onclick="btnDisbursementReportPDFOnclick()">
                                                            <i class="fa fa-file-pdf-o fa-fw"></i> PDF
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label>Start Date</label><br />
                                                <div id="cboDisbursementReportStartDate"></div> &nbsp; <span id="cboDisbursementReportStartDateString"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>End Date</label><br />
                                                <div id="cboDisbursementReportEndDate"></div> &nbsp; <span id="cboDisbursementReportEndDateString"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // Global Variable
        var newDate = new Date();
        var cboLoanReportStartDate;
        var cboLoanReportEndDate;
        var loanReportStartDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var loanReportEndDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var cboCollectionSummaryReportStartDate;
        var cboCollectionSummaryReportEndDate;
        var collectionSummaryReportStartDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var collectionSummaryReportEndDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var cboCollectionDetailReportStartDate;
        var cboCollectionDetailReportEndDate;
        var collectionDetailReportStartDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var collectionDetailReportEndDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var cboDisbursementReportStartDate;
        var cboDisbursementReportEndDate;
        var disbursementReportStartDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var disbursementReportEndDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var cboCashVoucherApplicant;
        var cboCashVoucherLoanNumber;
        var cboCollectiblesReportStartDate;
        var collectiblesReportStartDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var cboCollectiblesReportArea;
        var cboDailyReleaseMonitoringStartDate;
        var cboDailyReleaseMonitoringEndDate;
        var dailyReleaseMonitoringStartDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');
        var dailyReleaseMonitoringEndDateValue = [newDate.getMonth() + 1, newDate.getDate(), newDate.getFullYear()].join('-');

        // create cbo loan start date
        function createCboLoanReportStartDate() {
            cboLoanReportStartDate.dispose();
            cboLoanReportStartDate = new wijmo.input.InputDate('#cboLoanReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(loanReportStartDateValue),
                mask: '99-99-9999',
                max: new Date(loanReportEndDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboLoanReportStartDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    loanReportStartDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboLoanReportEndDate();
                    }, 50);
                }
            });

            var dateValue = cboLoanReportStartDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboLoanReportStartDateString").innerHTML = month + " " + cboLoanReportStartDate.value.getDate() + ", " + cboLoanReportStartDate.value.getFullYear();
        }

        // create cbo loan end date
        function createCboLoanReportEndDate() {
            cboLoanReportEndDate.dispose();
            cboLoanReportEndDate = new wijmo.input.InputDate('#cboLoanReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(loanReportEndDateValue),
                mask: '99-99-9999',
                min: new Date(loanReportStartDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboLoanReportEndDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    loanReportEndDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboLoanReportStartDate();
                    }, 50);
                }
            });

            var dateValue = cboLoanReportEndDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboLoanReportEndDateString").innerHTML = month + " " + cboLoanReportEndDate.value.getDate() + ", " + cboLoanReportEndDate.value.getFullYear();
        }

        // create cbo collectionSummary start date
        function createCboCollectionSummaryReportStartDate() {
            cboCollectionSummaryReportStartDate.dispose();
            cboCollectionSummaryReportStartDate = new wijmo.input.InputDate('#cboCollectionSummaryReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(collectionSummaryReportStartDateValue),
                mask: '99-99-9999',
                max: new Date(collectionSummaryReportEndDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboCollectionSummaryReportStartDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    collectionSummaryReportStartDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboCollectionSummaryReportEndDate();
                    }, 50);
                }
            });

            var dateValue = cboCollectionSummaryReportStartDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboCollectionSummaryReportStartDateString").innerHTML = month + " " + cboCollectionSummaryReportStartDate.value.getDate() + ", " + cboCollectionSummaryReportStartDate.value.getFullYear();
        }

        // create cbo collectionSummary end date
        function createCboCollectionSummaryReportEndDate() {
            cboCollectionSummaryReportEndDate.dispose();
            cboCollectionSummaryReportEndDate = new wijmo.input.InputDate('#cboCollectionSummaryReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(collectionSummaryReportEndDateValue),
                mask: '99-99-9999',
                min: new Date(collectionSummaryReportStartDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboCollectionSummaryReportEndDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    collectionSummaryReportEndDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboCollectionSummaryReportStartDate();
                    }, 50);
                }
            });

            var dateValue = cboCollectionSummaryReportEndDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboCollectionSummaryReportEndDateString").innerHTML = month + " " + cboCollectionSummaryReportEndDate.value.getDate() + ", " + cboCollectionSummaryReportEndDate.value.getFullYear();
        }

        // create cbo collectionDetail start date
        function createCboCollectionDetailReportStartDate() {
            cboCollectionDetailReportStartDate.dispose();
            cboCollectionDetailReportStartDate = new wijmo.input.InputDate('#cboCollectionDetailReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(collectionDetailReportStartDateValue),
                mask: '99-99-9999',
                max: new Date(collectionDetailReportEndDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboCollectionDetailReportStartDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    collectionDetailReportStartDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboCollectionDetailReportEndDate();
                    }, 50);
                }
            });

            var dateValue = cboCollectionDetailReportStartDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboCollectionDetailReportStartDateString").innerHTML = month + " " + cboCollectionDetailReportStartDate.value.getDate() + ", " + cboCollectionDetailReportStartDate.value.getFullYear();
        }

        // create cbo collectionDetail end date
        function createCboCollectionDetailReportEndDate() {
            cboCollectionDetailReportEndDate.dispose();
            cboCollectionDetailReportEndDate = new wijmo.input.InputDate('#cboCollectionDetailReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(collectionDetailReportEndDateValue),
                mask: '99-99-9999',
                min: new Date(collectionDetailReportStartDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboCollectionDetailReportEndDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    collectionDetailReportEndDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboCollectionDetailReportStartDate();
                    }, 50);
                }
            });

            var dateValue = cboCollectionDetailReportEndDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboCollectionDetailReportEndDateString").innerHTML = month + " " + cboCollectionDetailReportEndDate.value.getDate() + ", " + cboCollectionDetailReportEndDate.value.getFullYear();
        }

        // create cbo disbursement start date
        function createCboDisbursementReportStartDate() {
            cboDisbursementReportStartDate.dispose();
            cboDisbursementReportStartDate = new wijmo.input.InputDate('#cboDisbursementReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(disbursementReportStartDateValue),
                mask: '99-99-9999',
                max: new Date(disbursementReportEndDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboDisbursementReportStartDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    disbursementReportStartDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboDisbursementReportEndDate();
                    }, 50);
                }
            });

            var dateValue = cboDisbursementReportStartDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboDisbursementReportStartDateString").innerHTML = month + " " + cboDisbursementReportStartDate.value.getDate() + ", " + cboDisbursementReportStartDate.value.getFullYear();
        }

        // create cbo disbursement end date
        function createCboDisbursementReportEndDate() {
            cboDisbursementReportEndDate.dispose();
            cboDisbursementReportEndDate = new wijmo.input.InputDate('#cboDisbursementReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(disbursementReportEndDateValue),
                mask: '99-99-9999',
                min: new Date(disbursementReportStartDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboDisbursementReportEndDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    disbursementReportEndDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboDisbursementReportStartDate();
                    }, 50);
                }
            });

            var dateValue = cboDisbursementReportEndDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboDisbursementReportEndDateString").innerHTML = month + " " + cboDisbursementReportEndDate.value.getDate() + ", " + cboDisbursementReportEndDate.value.getFullYear();
        }

        // create combo box for cash voucher applicant
        function createCboCashVoucherApplicant() {
            var applicantArray = new Array();
            $.ajax({
                url: '/api/applicant/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (applicantResults) {
                    var disabled = true;
                    if (applicantResults.length > 0) {
                        for (i = 0; i < applicantResults.length; i++) {
                            applicantArray.push({
                                Id: applicantResults[i]["Id"],
                                ApplicantFullName: applicantResults[i]["ApplicantFullName"],
                            });
                        }

                        disabled = false;
                    }

                    cboCashVoucherApplicant.dispose();
                    cboCashVoucherApplicant = new wijmo.input.ComboBox('#cashVoucherReportApplicant', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: applicantArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "ApplicantFullName",
                        selectedValuePath: "ApplicantFullName",
                        onSelectedIndexChanged: function () {
                            createCboCashVoucherLoanNumber();
                        }
                    });

                    createCboCashVoucherLoanNumber();
                }
            });
        }

        // create combo box for cash voucher loan number
        function createCboCashVoucherLoanNumber() {
            var loanNumberArray = new Array();
            $.ajax({
                url: '/api/loanApplication/listByApplicantId/' + cboCashVoucherApplicant.selectedItem["Id"],
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (loanNumberResults) {
                    var disabled = true;
                    if (loanNumberResults.length > 0) {
                        for (i = 0; i < loanNumberResults.length; i++) {
                            loanNumberArray.push({
                                Id: loanNumberResults[i]["Id"],
                                LoanNumber: loanNumberResults[i]["LoanNumber"],
                                LoanDate: loanNumberResults[i]["LoanDate"],
                                LoanNumberDate: loanNumberResults[i]["LoanNumber"] + " - " + loanNumberResults[i]["LoanDate"],
                                LoanAmount: loanNumberResults[i]["LoanAmount"],
                                BalanceAmount: loanNumberResults[i]["BalanceAmount"]
                            });
                        }
                        disabled = false;
                    } else {
                        $("#btnSaveCollectionLine").prop("disabled", true);
                    }

                    cboCashVoucherLoanNumber.dispose();
                    cboCashVoucherLoanNumber = new wijmo.input.ComboBox('#cashVoucherReportLoanNumber', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: loanNumberArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "LoanNumberDate",
                        selectedValuePath: "LoanNumberDate"
                    });
                }
            });
        }

        // create cbo collectibles start date
        function createCboCollectiblesReportStartDate() {
            cboCollectiblesReportStartDate.dispose();
            cboCollectiblesReportStartDate = new wijmo.input.InputDate('#cboCollectiblesReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(collectiblesReportStartDateValue),
                mask: '99-99-9999',
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboCollectiblesReportStartDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();
                }
            });

            var dateValue = cboCollectiblesReportStartDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboCollectiblesReportStartDateString").innerHTML = month + " " + cboCollectiblesReportStartDate.value.getDate() + ", " + cboCollectiblesReportStartDate.value.getFullYear();
        }

        // create combo boc for collectibles report area
        function createCboCollectiblesReportArea() {
            var areaArray = new Array();
            $.ajax({
                url: '/api/area/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (areaResults) {
                    var disabled = true;
                    if (areaResults.length > 0) {
                        for (i = 0; i < areaResults.length; i++) {
                            areaArray.push({
                                Id: areaResults[i]["Id"],
                                Area: areaResults[i]["Area"],
                            });
                        }

                        disabled = false;
                    }

                    cboCollectiblesReportArea.dispose();
                    cboCollectiblesReportArea = new wijmo.input.ComboBox('#cboCollectiblesReportArea', {
                        disabled: disabled,
                        placeholder: "Select",
                        itemsSource: areaArray,
                        isEditable: false,
                        required: true,
                        displayMemberPath: "Area",
                        selectedValuePath: "Area"
                    });
                }
            });
        }

        // create cbo dailyReleaseMonitoring start date
        function createCboDailyReleaseMonitoringStartDate() {
            cboDailyReleaseMonitoringStartDate.dispose();
            cboDailyReleaseMonitoringStartDate = new wijmo.input.InputDate('#cboDailyReleaseMonitoringStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(dailyReleaseMonitoringStartDateValue),
                mask: '99-99-9999',
                max: new Date(dailyReleaseMonitoringEndDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboDailyReleaseMonitoringStartDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    dailyReleaseMonitoringStartDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboDailyReleaseMonitoringEndDate();
                    }, 50);
                }
            });

            var dateValue = cboDailyReleaseMonitoringStartDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboDailyReleaseMonitoringStartDateString").innerHTML = month + " " + cboDailyReleaseMonitoringStartDate.value.getDate() + ", " + cboDailyReleaseMonitoringStartDate.value.getFullYear();
        }

        // create cbo dailyReleaseMonitoring end date
        function createCboDailyReleaseMonitoringEndDate() {
            cboDailyReleaseMonitoringEndDate.dispose();
            cboDailyReleaseMonitoringEndDate = new wijmo.input.InputDate('#cboDailyReleaseMonitoringEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(dailyReleaseMonitoringEndDateValue),
                mask: '99-99-9999',
                min: new Date(dailyReleaseMonitoringStartDateValue),
                onValueChanged: function () {
                    var dateValue = this.value.getMonth() + 1;
                    var month = "";

                    if (dateValue == 1) {
                        month = "January";
                    } else if (dateValue == 2) {
                        month = "February";
                    } else if (dateValue == 3) {
                        month = "March";
                    } else if (dateValue == 4) {
                        month = "April";
                    } else if (dateValue == 5) {
                        month = "May";
                    } else if (dateValue == 6) {
                        month = "June";
                    } else if (dateValue == 7) {
                        month = "July";
                    } else if (dateValue == 8) {
                        month = "August";
                    } else if (dateValue == 9) {
                        month = "September";
                    } else if (dateValue == 10) {
                        month = "October";
                    } else if (dateValue == 11) {
                        month = "November";
                    } else if (dateValue == 12) {
                        month = "December";
                    } else {
                        month = "";
                    }

                    document.getElementById("cboDailyReleaseMonitoringEndDateString").innerHTML = month + " " + this.value.getDate() + ", " + this.value.getFullYear();

                    var thisDateValue = [this.value.getMonth() + 1, this.value.getDate(), this.value.getFullYear()].join('-');
                    dailyReleaseMonitoringEndDateValue = thisDateValue;

                    setTimeout(function () {
                        createCboDailyReleaseMonitoringStartDate();
                    }, 50);
                }
            });

            var dateValue = cboDailyReleaseMonitoringEndDate.value.getMonth() + 1;
            var month = "";

            if (dateValue == 1) {
                month = "January";
            } else if (dateValue == 2) {
                month = "February";
            } else if (dateValue == 3) {
                month = "March";
            } else if (dateValue == 4) {
                month = "April";
            } else if (dateValue == 5) {
                month = "May";
            } else if (dateValue == 6) {
                month = "June";
            } else if (dateValue == 7) {
                month = "July";
            } else if (dateValue == 8) {
                month = "August";
            } else if (dateValue == 9) {
                month = "September";
            } else if (dateValue == 10) {
                month = "October";
            } else if (dateValue == 11) {
                month = "November";
            } else if (dateValue == 12) {
                month = "December";
            } else {
                month = "";
            }

            document.getElementById("cboDailyReleaseMonitoringEndDateString").innerHTML = month + " " + cboDailyReleaseMonitoringEndDate.value.getDate() + ", " + cboDailyReleaseMonitoringEndDate.value.getFullYear();
        }

        // loan report print pdf
        function btnLoanReportPDFOnclick() {
            $("#btnLoanReportPDF").prop("disabled", true);
            document.getElementById("btnLoanReportPDF").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Generating PDF File";

            var loanReportStartDateValueForPDF = [cboLoanReportStartDate.value.getMonth() + 1, cboLoanReportStartDate.value.getDate(), cboLoanReportStartDate.value.getFullYear()].join('-');
            var loanReportEndDateValueForPDF = [cboLoanReportEndDate.value.getMonth() + 1, cboLoanReportEndDate.value.getDate(), cboLoanReportEndDate.value.getFullYear()].join('-');

            window.location = "/RepLoanReport/loanReport?startDate=" + loanReportStartDateValueForPDF + "&endDate=" + loanReportEndDateValueForPDF;
        }

        // collectibles report print pdf
        function btnCollectiblesPDFOnclick() {
            $("#btnCollectiblesPDF").prop("disabled", true);
            document.getElementById("btnCollectiblesPDF").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Generating PDF File";

            var dueDateValue = [cboCollectiblesReportStartDate.value.getMonth() + 1, cboCollectiblesReportStartDate.value.getDate(), cboCollectiblesReportStartDate.value.getFullYear()].join('-');

            window.location = "/RepCollectibles/collectibles?areaId=" + cboCollectiblesReportArea.selectedItem["Id"] + "&dueDate=" + dueDateValue;
        }

        // collection summary report print pdf
        function btnCollectionSummaryReportPDFOnclick() {
            $("#btnCollectionSummaryReportPDF").prop("disabled", true);
            document.getElementById("btnCollectionSummaryReportPDF").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Generating PDF File";

            var collectionSummaryReportStartDateValueForPDF = [cboCollectionSummaryReportStartDate.value.getMonth() + 1, cboCollectionSummaryReportStartDate.value.getDate(), cboCollectionSummaryReportStartDate.value.getFullYear()].join('-');
            var collectionSummaryEndDateValueForPDF = [cboCollectionSummaryReportEndDate.value.getMonth() + 1, cboCollectionSummaryReportEndDate.value.getDate(), cboCollectionSummaryReportEndDate.value.getFullYear()].join('-');

            window.location = "/RepCollectionSummaryReport/collectionSummaryReport?startDate=" + collectionSummaryReportStartDateValueForPDF + "&endDate=" + collectionSummaryEndDateValueForPDF;
        }

        // collection detail report print pdf
        function btnCollectionDetailReportPDFOnclick() {
            $("#btnCollectionDetailReportPDF").prop("disabled", true);
            document.getElementById("btnCollectionDetailReportPDF").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Generating PDF File";

            var collectionDetailReportStartDateValueForPDF = [cboCollectionDetailReportStartDate.value.getMonth() + 1, cboCollectionDetailReportStartDate.value.getDate(), cboCollectionDetailReportStartDate.value.getFullYear()].join('-');
            var collectionDetailEndDateValueForPDF = [cboCollectionDetailReportEndDate.value.getMonth() + 1, cboCollectionDetailReportEndDate.value.getDate(), cboCollectionDetailReportEndDate.value.getFullYear()].join('-');

            window.location = "/RepCollectionDetailReport/collectionDetailReport?startDate=" + collectionDetailReportStartDateValueForPDF + "&endDate=" + collectionDetailEndDateValueForPDF;
        }

        // disbursement report print pdf
        function btnDisbursementReportPDFOnclick() {
            $("#btnDisbursementReportPDF").prop("disabled", true);
            document.getElementById("btnDisbursementReportPDF").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Generating PDF File";

            var disbursementReportStartDateValueForPDF = [cboDisbursementReportStartDate.value.getMonth() + 1, cboDisbursementReportStartDate.value.getDate(), cboDisbursementReportStartDate.value.getFullYear()].join('-');
            var disbursementReportEndDateValueForPDF = [cboDisbursementReportEndDate.value.getMonth() + 1, cboDisbursementReportEndDate.value.getDate(), cboDisbursementReportEndDate.value.getFullYear()].join('-');

            window.location = "/RepDisbursementReport/disbursementReport?startDate=" + disbursementReportStartDateValueForPDF + "&endDate=" + disbursementReportEndDateValueForPDF;
        }

        // on load page
        window.onload = function () {
            NProgress.start();
            cboLoanReportStartDate = new wijmo.input.InputDate('#cboLoanReportStartDate');
            cboLoanReportEndDate = new wijmo.input.InputDate('#cboLoanReportEndDate');

            createCboLoanReportStartDate();
            createCboLoanReportEndDate();

            cboCollectionSummaryReportStartDate = new wijmo.input.InputDate('#cboCollectionSummaryReportStartDate');
            cboCollectionSummaryReportEndDate = new wijmo.input.InputDate('#cboCollectionSummaryReportEndDate');

            createCboCollectionSummaryReportStartDate();
            createCboCollectionSummaryReportEndDate();

            cboCollectionDetailReportStartDate = new wijmo.input.InputDate('#cboCollectionDetailReportStartDate');
            cboCollectionDetailReportEndDate = new wijmo.input.InputDate('#cboCollectionDetailReportEndDate');

            createCboCollectionDetailReportStartDate();
            createCboCollectionDetailReportEndDate();

            cboDisbursementReportStartDate = new wijmo.input.InputDate('#cboDisbursementReportStartDate');
            cboDisbursementReportEndDate = new wijmo.input.InputDate('#cboDisbursementReportEndDate');

            createCboDisbursementReportStartDate();
            createCboDisbursementReportEndDate();

            cboCashVoucherApplicant = new wijmo.input.ComboBox('#cashVoucherReportApplicant');
            cboCashVoucherLoanNumber = new wijmo.input.ComboBox('#cashVoucherReportLoanNumber');
            createCboCashVoucherApplicant();

            cboCollectiblesReportStartDate = new wijmo.input.InputDate('#cboCollectiblesReportStartDate');
            createCboCollectiblesReportStartDate();

            cboCollectiblesReportArea = new wijmo.input.ComboBox('#cboCollectiblesReportArea');
            createCboCollectiblesReportArea();

            cboDailyReleaseMonitoringStartDate = new wijmo.input.InputDate('#cboDailyReleaseMonitoringStartDate');
            cboDailyReleaseMonitoringEndDate = new wijmo.input.InputDate('#cboDailyReleaseMonitoringEndDate');

            createCboDailyReleaseMonitoringStartDate();
            createCboDailyReleaseMonitoringEndDate();

            NProgress.done();
        }
    </script>
</body>
</html>