<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Staff Detail</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")


    <div id="wrapper">
        <!-- Header -->
        @Html.Partial("SoftwareHeader")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="">
                            <i class="fa fa-user fa-fw"></i>  Staff Detail <small>Edit detail page</small>
                        </h3>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/Software">Dashboard</a>
                            </li>
                            <li>
                                <a href="/Software/StaffList">Staffs</a>
                            </li>
                            <li class="active">
                                Staff Detail
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" align="right">
                        <button class="btn btn-primary" id="btnLockStaff" onclick="btnLockStaffOnclick()">
                            <i class="fa fa-lock fa-fw"></i> Lock
                        </button>
                        <button class="btn btn-primary" id="btnUnlockStaff" onclick="btnUnlockStaffOnclick()">
                            <i class="fa fa-unlock fa-fw"></i> Unlock
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>Staff Number</label><br />
                                            <input type="text" class="form-control requiredStaff" id="staffNumber" placeholder="Staff Number" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label>Staff</label><br />
                                            <input type="text" class="form-control requiredStaff" id="staffName" placeholder="Staff" />
                                        </div>
                                        <div class="form-group">
                                            <label>Contact Number</label><br />
                                            <input type="text" class="form-control requiredStaff" id="staffContactNumber" placeholder="Contact Number" />
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label><br />
                                            <textarea class="form-control requiredStaff" rows="5" id="staffAddress" placeholder="Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <p>Created by:</p>
                                        <div style="padding-left: 10px;">
                                            <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                            <br />
                                            <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                                        </div>
                                        <br />
                                        <p>Updated by:</p>
                                        <div style="padding-left: 10px;">
                                            <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                            <br />
                                            <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var branchCollectionView;
        var branchFlexGrid;
        var branchId = 0;
        var isLocked = false;

        // get staff data
        function getStaffDetailData() {
            $.ajax({
                url: '/api/staff/getById/' + getUrlParameter("id"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (staffDetailResult) {
                    if (staffDetailResult != null) {
                        document.getElementById("staffNumber").value = staffDetailResult.StaffNumber;
                        document.getElementById("staffName").value = staffDetailResult.Staff;
                        document.getElementById("staffContactNumber").value = staffDetailResult.ContactNumber;
                        document.getElementById("staffAddress").value = staffDetailResult.Address;

                        document.getElementById('stampCreatedBy').innerHTML = staffDetailResult.CreatedByUser;
                        document.getElementById('stampCreatedDate').innerHTML = staffDetailResult.CreatedDateTime;
                        document.getElementById('stampUpdatedBy').innerHTML = staffDetailResult.UpdatedByUser;
                        document.getElementById('stampUpdatedDate').innerHTML = staffDetailResult.UpdatedDateTime;

                        if (staffDetailResult.IsLocked) {
                            document.getElementById("staffName").disabled = true;
                            document.getElementById("staffContactNumber").disabled = true;
                            document.getElementById("staffAddress").disabled = true;

                            $("#btnLockStaff").prop("disabled", true);

                            isLocked = true;
                        } else {
                            $("#btnUnlockStaff").prop("disabled", true);
                        }
                    } else {
                        alert("The record you'd requested has no data");
                        window.history.back();
                    }
                    NProgress.done();
                }
            });
        }

        // form input validation
        function inputValidation() {
            var isValid = true;
            $('.requiredStaff').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                } else {
                    $(this).css({
                        "border": "",
                    });
                }
            });

            return isValid;
        }

        // lock staff detail
        function btnLockStaffOnclick() {
            if (inputValidation()) {
                document.getElementById("btnLockStaff").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Locking";
                $("#btnLockStaff").prop("disabled", true);
                $("#btnUnlockStaff").prop("disabled", true);
                $("#btnCloseStaff").prop("disabled", true);

                var staffDetailObject = new Object();
                staffDetailObject.Staff = document.getElementById('staffName').value;
                staffDetailObject.ContactNumber = document.getElementById('staffContactNumber').value;
                staffDetailObject.Address = document.getElementById('staffAddress').value;
                var staffDetailData = JSON.stringify(staffDetailObject);

                $.ajax({
                    type: "PUT",
                    url: '/api/staff/lock/' + getUrlParameter("id"),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: staffDetailData,
                    statusCode: {
                        200: function () {
                            toastr.success("Reloading the page", "Lock Successful");
                            window.setTimeout(function () {
                                location.reload();
                            }, 1500);
                        },
                        404: function () {
                            document.getElementById("btnLockStaff").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";

                            toastr.error("Not Found");

                            $("#btnLockStaff").prop("disabled", false);
                            $("#btnCloseStaff").prop("disabled", false);
                        },
                        400: function () {
                            document.getElementById("btnLockStaff").innerHTML = "<i class='fa fa-lock fa-fw'></i> Lock";

                            toastr.error("Bad Request");

                            $("#btnLockStaff").prop("disabled", false);
                            $("#btnCloseStaff").prop("disabled", false);
                        }
                    }
                });
            } else {
                toastr.error("Invalid Entry");
            }
        }

        // save changes staff detail
        function btnUnlockStaffOnclick() {
            document.getElementById("btnUnlockStaff").innerHTML = "<i class='fa fa-spinner fa-spin fa-fw'></i> Unlocking";
            $("#btnUnlockStaff").prop("disabled", true);
            $("#btnLockStaff").prop("disabled", true);
            $("#btnCloseStaff").prop("disabled", true);

            $.ajax({
                type: "PUT",
                url: '/api/staff/unlock/' + getUrlParameter("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Reloading the page", "Unlock Successful");
                        window.setTimeout(function () {
                            location.reload();
                        }, 1500);
                    },
                    404: function () {
                        document.getElementById("btnUnlockStaff").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Unlock";

                        toastr.error("Not Found");

                        $("#btnUnlockStaff").prop("disabled", true);
                        $("#btnCloseStaff").prop("disabled", true);
                    },
                    400: function () {
                        document.getElementById("btnUnlockStaff").innerHTML = "<i class='fa fa-unlock fa-fw'></i> Unlock";

                        toastr.error("Bad Request");

                        $("#btnUnlockStaff").prop("disabled", true);
                        $("#btnCloseStaff").prop("disabled", true);
                    }
                }
            });
        }

        // on load page
        window.onload = function () {
            NProgress.start();
            toastrModification();
            getStaffDetailData();

            var canPerformActions = "@ViewData["CanPerformActions"]";
            if (canPerformActions == 1) {
                $('#btnClose').prop('disabled', false);
            } else {
                $(':button').prop('disabled', true);
                $('#btnClose').prop('disabled', false);
                getUserRightsMessageError();
            }
        }
    </script>
</body>
</html>