<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>User List</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            @Html.Partial("SoftwareMenu")
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-key fa-fw"></i> Users</h4>
                </div>
                <div class="panel-heading">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                    <input type="text" id="searchUser" class="form-control" placeholder="Search">
                                </div>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td align="right">
                                <button class="btn btn-danger" id="btnClose" onclick="window.location = '/Software'">
                                    <i class="fa fa-close fa-fw"></i> Close
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div id="userListFlexGrid" class="grid"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    User security stamp
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Created Date:</p>
                            <div style="padding-left: 10px;">
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <p>Updated Date:</p>
                            <div style="padding-left: 10px;">
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @Html.Partial("HomeFooter")

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // glebal variable
        var userCollectionView;
        var userFlexGrid;

        // get users
        function getUserList() {
            var users = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/user/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userListResult) {
                    if (userListResult.length > 0) {
                        for (i = 0; i < userListResult.length; i++) {
                            var isLocked = false;
                            if (userListResult[i]["IsLocked"]) {
                                isLocked = true;
                            }

                            users.push({
                                EditButton: "<button class='btn btn-primary btn-xs btn-block' onclick='editUserOnclick()'><i class='fa fa-edit fa-fw'></i> Edit</button>",
                                Id: userListResult[i]["Id"],
                                Username: userListResult[i]["Username"],
                                FullName: userListResult[i]["FullName"],
                                CreatedByUser: userListResult[i]["FullName"],
                                CreatedDateTime: userListResult[i]["CreatedDate"],
                                IsLocked: userListResult[i]["IsLocked"],
                                UpdatedByUser: userListResult[i]["FullName"],
                                UpdatedDateTime: userListResult[i]["UpdatedDate"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });
            return users;
        }

        // edit user
        function editUserOnclick() {
            userCollectionView.editItem(userCollectionView.currentItem);
            var userCurrentEditItem = userCollectionView.currentEditItem;
            window.location = '/Software/UserDetail?id=' + userCurrentEditItem.Id;
        }

        // stamp security
        function updateStampSecurity() {
            var item = userCollectionView.currentItem;
            document.getElementById('stampCreatedDate').innerHTML = item.CreatedDateTime;
            document.getElementById('stampUpdatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ready function
        window.onload = function () {
            NProgress.start();
            toastrModification();

            userCollectionView = new wijmo.collections.CollectionView(getUserList());
            userCollectionView.canFilter = true;

            var filterText = '';
            $('#searchUser').keyup(function () {
                filterText = this.value.toLowerCase();
                userCollectionView.refresh();
            });

            userCollectionView.filter = function (item) {
                return !filterText || (item.Username.toLowerCase().indexOf(filterText) > -1)
                                   || (item.FullName.toLowerCase().indexOf(filterText) > -1);
            }

            userCollectionView.currentChanged.addHandler(function (sender, args) {
                updateStampSecurity();
            });

            // Flex Grid
            userFlexGrid = new wijmo.grid.FlexGrid('#userListFlexGrid');
            userFlexGrid.initialize({
                columns: [
                            {
                                "header": "Users",
                                "isReadOnly": true,
                                "visible": false,
                                "allowDragging": false,
                                "width": "*"
                            },
                            {
                                "header": "Edit",
                                "binding": "EditButton",
                                "width": 80,
                                "align": "center",
                                "allowResizing": false,
                                "isContentHtml": true
                            },
                            {
                                "header": "Full Name",
                                "binding": "FullName",
                                "allowSorting": true,
                                "width": "3*"
                            },
                            {
                                "header": "Username",
                                "binding": "Username",
                                "allowSorting": true,
                                "width": "3*"
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": "0.5*"
                            },
                ],
                autoGenerateColumns: false,
                itemsSource: userCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            userFlexGrid.trackChanges = true;
        }
    </script>
</body>
</html>